{% extends "amazingrace/pool_home_core.html" %}
{% block head %}
    {{ block.super }}
    <script>
        tinymce.init({selector:'textarea'});
    </script>
{% endblock %}
{% block body %}
    <title>{{ pool }} | Office Pool Hub</title>
    <form method="post">{% csrf_token %}
        <h3>Customize your welcome message</h3>
        {{ form.admin_note }}
        {{ form.admin.errors }}
        <div>
            <input class="submit" type="submit" name="submit" value="Save" />
        </div>
    </form>
{% endblock %}