<h3>How do I start an Amazing Race Pool?</h3>
<h4>To create an Amazing Race Pool, hover your mouse over the "Create a Pool" link in the Main menu and select "Create Amazing Race Pool" or
    or go to <a href="{% url 'create_amazing_race_pool' %}">Create Amazing Race Pool</a>.</h4>
<hr>

<h3>How do I join a Pool?</h3>
<h4>To join a pool click on the "Join a Pool" link in the main menu above.  Here you can join Public Pools or if you know the pool id of a
    pool you'd like to join, you can enter it into the form.(a password may be required to enter pools that are private)</h4>
<hr>

<h3>What is a Pick Sheet?</h3>
<h4>Each member within an amazing race pool will fill out a Pick Sheet.  A Pick Sheet allows you to record who your 3 teams will be that season.
Throughout the season Pick Sheets will gain points depending on how well those teams are performing.  At the end of the season the member whose
 Pick Sheet has the most points wins.  <br><br>If the the Pool Admin allows it, members may be able to submit multiple Pick Sheets.</h4>
<hr>

<h3>How do I know who is winning in my Amazing Race Pool?</h3>
<h4>When within your pool there is a link titled "Standings" at the top.  If you click this you will see where everyone within the pool is currently ranked.</h4>
<hr>

<h3>Can I see which events a team has completed?</h3>
<h4>Within each Amazing Race Pool there is a link titled "Stats".  On the Stats page you will be able to select a team and see how many times that
team performed certain events, their total points and the percentage of pick sheets that chose that team.</h4>
<hr>

<h3>When a team uses an express pass to get passed a detour/roadblock and they are the first to get by said detour/roadblock,
    does that count as being the first to complete it?</h3>
<h4>Because the team technically skipped the leg and did not complete it, the team will not receive a point for "first to complete detour/roadblock".
That point will instead go to the team that actually completes the challenge first.</h4>

<h3>What happens when there is a Tie?</h3>
<h4>In the event of a Tie, our site looks at the Pick Sheet that is the oldest and gives that Pick Sheet priority over
    the other one that it is tied with. We are considering tie breaker questions in the future but for now amazing race
    pools will have to come up with their own tie breaker outside of this website to determine a real winner.</h4>
<hr>

<h3>The season is over, can I re-use the same pool for next season?</h3>
<h4>At the moment Amazing Race Pools are not re-useable.  A new Amazing Race Pool must be created each season.</h4>