{% extends "amazingrace/pool_home_core.html" %}
{% block head %}
{{ block.super }}
    <script>
        $(function(){
            $("input:checked").each(function(){
                $("label[for='" + this.id + "']").find('img').css("border", "solid 4px #CC240A");
            });

            $("input[type='checkbox']").click(function(){
                if(this.checked){
                    $("label[for='" + this.id + "']").find('img').css("border", "solid 4px #CC240A");
                }
                else{
                    $("label[for='" + this.id + "']").find('img').css("border", "solid 4px white");
                }
                });
        });
    </script>
{% endblock %}
{% block body %}

<form method="post" >{% csrf_token %}
    {% if picksheet %}
        <title>{{ picksheet.name }} - {{ pool.name }} | Office Pool Hub</title>
        <h2>{{ picksheet.name }}<small style="padding-left:10px;">pick sheet created by: {{ picksheet.member }}</small></h2>
    {% else %}
        <title>Pick Sheet Form - {{ pool.name }} | Office Pool Hub</title>
        <h2>Fill out your Pick Sheet!</h2>
    {% endif %}
    {% if pool.allow_new_picksheets %}
    <div class="span-15" style="font-size:15px;">
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    {% endif %}
    <hr>
    <label style="font-size:15px;">Pick 3 teams.  You cannot choose the same combination as someone else:</label>
    <div style="float:right;width:25%;">
        <center>
        <label><u>Combinations already taken</u></label>
        {% for list in combinations_list %}
            {% for team in list %}
                {{ team }}
                {% if forloop.counter == 1 %}
                -
                {% elif forloop.counter == 2 %}
                <br>
                {% endif %}

            {% endfor %}
            <br>
        {% endfor %}
        </center>
    </div>
    <div class="span-17">
    <table>
        <font style="font-size:15px">{{ form.picks.errors }}</font>
        <tr>
        {% for pk,choice in form.picks.field.widget.choices %}
            <td style="text-align:center;padding-bottom:15px;">
                <label for="id_picks_{{ forloop.counter0 }}">
                    {{ choice }}<br>
                    <img src='{{ MEDIA_URL }}amazingrace/teams/{{ choice|cut:" "|cut:"&" }}.png' style="border:solid 4px white;"><br>
                    <input id="id_picks_{{ forloop.counter0 }}" type="checkbox" value="{{ pk }}" name="picks"
                    {% if pk in form.initial.picks %}checked{% endif %}
                    {% if not pool.allow_new_picksheets %}disabled{% endif %}>
                </label>
            </td>
            {% if not forloop.last and forloop.counter|divisibleby:"4" %}
                </tr>
                <tr>
            {% endif %}
        {% endfor %}
            </tr>
    </table>
        </div>
    <hr>
    <div>
        {% if pool.allow_new_picksheets %}
            {% if user = ballot_form.instance.member or not ballot_form.instance.id %}
                <input class="submit" type="submit" name="submit" value="Save Pick Sheet" />
                {% if ballot_form.instance.id %}
                <input class="submit delete" type="submit" name="delete" id="delete" value="Delete Ballot" />
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</form>
{% endblock %}