{% extends 'amazingrace/pool_home_core.html' %}
{% load oscars_tags %}
{% block body %}
        <title>{{ pool.name }} | Office Pool Hub</title>
        <h2 style="font-family:Verdana, Geneva, sans-serif"><b>{{ pool.name}} home page</b></h2>
        <h3 class="span-9"><b>Administrator Welcome Message:</b>{% if user == pool.administrator %}&nbsp<a href="{% url 'amazingrace_admin_message' pool.id %}" style="font-size:12px;">edit</a>{% endif %}</h3><br><br>
        <div style="margin-left:13px;">
        {{ pool.admin_note|safe }}
        </div>
        <br>
            <div>
            <h3><b>Pool Format:</b></h3>
                <div style="margin-left:13px;">
                    <h3 style="margin-bottom:10px;">When Does This Season of The Amazing Race Start?</h3>
                    <font style="margin-left:13px;">{{ pool.amazingracepool.season.start_date }}</font>
                    <br><br>
                    <h3 style="margin-bottom:10px;">How to Play:</h3>
                    <font style="margin-left:13px;">Everyone will pick 3 teams before the season starts.  You will get points when your teams perform certain actions.
                    The person whose 3 teams have accumulated the most points at the end of the season wins!</font>
                    <br><br>
                     <h3 style="margin-bottom:10px;">Point Distribution:</h3>
                     {% for key,value in points_categories.iteritems %}
                        {% get_attr_verbose_name pool key as event_string %}
                        {% if event_string %}
                            <b style="margin-left:12px;">{{ event_string }}</b>&nbsp&nbsp-&nbsp&nbsp{{ value }}pts<br>
                        {% endif %}
                     {% endfor %}
                </div>
            </div>
{% endblock %}