{% extends "oscars/pool_home_core.html" %}
{% block page-css-links %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({selector:'textarea'});
    </script>
{% endblock %}
{% block body %}
    <title>{{ pool.name }} | Oscar Pool Hub</title>
    <article>
      <h2 class="headliner">Customize your welcome message</h2>
      <form method="post">{% csrf_token %}
          {{ form.admin_note }}
          {{ form.admin.errors }}
          </br>
          <div>
              <button class="btn btn-primary" type="submit" name="submit">Save</button>
          </div>
      </form>
    </article>
{% endblock %}
