{% extends "oscars/pool_home_core.html" %}
{% block body %}
<form method="post" class="span-16">{% csrf_token %}
    {% if ballot %}
        <title>{{ ballot.name }} - {{ pool.name }} | Office Pool Hub</title>
        <h2>{{ ballot.name }}<small style="padding-left:10px;">ballot created by: {{ ballot.member }}</small></h2>
    {% else %}
        <title>Ballot Form - {{ pool.name }} | Office Pool Hub</title>
        <h2>Fill out your Ballot!</h2>
    {% endif %}
    {% if allow_new_ballots %}
    <div class="span-15" style="">
        {{ ballot_form.name.label_tag }}
        {{ ballot_form.name }}
        {{ ballot_form.name.errors }}
    </div>
    {% endif %}
    {% for form in response_forms %}
        {% if form.category.active %}
        <b>{{ form.prefix }}</b> {% if pool.how_to_win == 'points' %}- {{ form.category.points }} points{% endif %}<br>
        {% for radio in form.predicted_winner %}
            <label for="{{ radio.id_for_label }}">
                <span class="radio" >{{ radio.tag }}</span>
                <font style="font-weight:normal;">{{ radio.choice_label }}</font>
                <br>
            </label>
        {% endfor %}
        {% endif %}
        <br>
    {% endfor %}

    <div>
        {% if allow_new_ballots %}
            {% if user = ballot_form.instance.member or not ballot_form.instance.id %}
                <input class="submit" type="submit" name="submit" value="Save Ballot" />
                {% if ballot_form.instance.id %}
                <input class="submit delete" type="submit" name="delete" id="delete" value="Delete Ballot" />
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</form>
{% endblock %}