{% extends 'oscars/pool_home_core.html' %}
{% block head %}
{{ block.super }}
    <script>
        $(function(){
            $("#all_ballots").css("border-bottom","4px solid black");
            $(".your-ballots-single").hide();
            $(".all-ballots-single").show();

            $("#all_ballots").click(function(){
                $(this).css("border-bottom","4px solid black");
                $("#your_ballots").css("border-bottom","none");
                $(".your-ballots-single").hide();
                $(".all-ballots-single").show();
            });
            $("#your_ballots").click(function(){
                $(this).css("border-bottom","4px solid black");
                $("#all_ballots").css("border-bottom","none");
                $(".your-ballots-single").show();
                $(".all-ballots-single").hide();
            });
        });
    </script>
{% endblock %}
{% block body %}
        <title>Ballots - {{ pool.name }} | Office Pool Hub</title>
        <h2 id="all_ballots" style="display:inline;cursor:pointer;font-family:Verdana, Geneva, sans-serif;"><b>All Ballots</b></h2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <h2 id="your_ballots" style="display:inline;cursor:pointer;font-family:Verdana, Geneva, sans-serif;"><b>Your Ballots</b></h2>
        <br><br>
        {% if allow_new_ballots %}
            <form action="{% url 'oscar_create_ballot' pool.id %}" method="GET">{% csrf_token %}
                <input type="submit" value="Create a Ballot" /> - You have until {{ pool.entry_deadline }} to submit or make changes to your brackets.
            </form>
        {% else %}
            The entry deadline has been reached.  No new ballots may be entered and existing ballots can no longer be changed.
        {% endif %}
        <table class="span-15">
            <tr class="header">
                <th style="border-bottom:1px solid black;"><b>Member</b></th>
                <th style="border-bottom:1px solid black;"><b>Ballot</b></th>
                {% if user == pool.administrator %}
                    <th></th>
                {% endif %}
            </tr>
        {% if ballots %}
            <div id="all-ballots-list">
            {% for ballot in ballots %}
                <tr class="all-ballots-single">
                    <td><a href="{% url 'profile_stats' ballot.member.id %}">{{ ballot.member }}</a></td>
                    <td>
                        {% if pool.allow_new_ballots %}
                            {{ ballot.name }}
                        {% else %}
                            <a href="{% url 'oscar_ballot' pool.id ballot.id %}">{{ ballot.name }}</a>
                        {% endif %}
                    </td>
                    {% if user == pool.administrator %}
                        <td><a href="{% url 'oscar_remove_ballot' pool.id ballot.id %}">Remove</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </div>
            <div id="your-ballots-list">
                {% if your_ballots %}
                    {% for ballot in your_ballots %}
                        <tr class="your-ballots-single">
                            <td><a href="{% url 'profile_stats' ballot.member.id %}">{{ ballot.member }}</a></td>
                            <td><a href="{% url 'oscar_ballot' pool.id ballot.id %}">{{ ballot.name }}</a></td>
                            {% if user == pool.administrator %}
                                <td><a href="{% url 'oscar_remove_ballot' pool.id ballot.id %}">Remove</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="your-ballots-single">
                        <td>You haven't created any ballots yet.</td>
                    </tr>
                {% endif %}
            </div>
            </table>
        {% else %}
            <tr>
               <td colspan=3>No ballots have been submitted yet</td>
            </tr>
            </table>
        {% endif %}
{% endblock %}