{% extends 'oscars/pool_home_core.html' %}
{% block page-css-links %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base/table.css">
{% endblock %}
{% block body %}
    <title>Ballots - {{ pool.name }} | Oscar Pool Hub</title>
    <h2 id="all_ballots" class="headliner">All Ballots</h2>
    </br>

    <div class="row">
    {% if allow_new_ballots %}
      <div class="col-md-12">
        <form action="{% url 'oscar_create_ballot' pool.id %}" method="GET">{% csrf_token %}
            <button type="submit" class="btn btn-primary">Create a Ballot</button> - You have until {{ pool.entry_deadline }} to submit or make changes to your ballots.
        </form>
      </div>
    {% else %}
      <div class="col-md-10">
			     {{ no_picksheets_reason }}
      </div>
		{% endif %}
      <div class="col-md-10">
        <table class="table table-condensed">
            <tr class="header">
                <th>Member</th>
                <th>Ballot</th>
                {% if user == pool.administrator %}
                    <th></th>
                {% endif %}
                <th></th>
            </tr>
        {% if ballots %}
            <div id="all-ballots-list">
            {% for ballot in ballots %}
                <tr class="all-ballots-single">
                    <td><a href="{% url 'profile_stats' ballot.member.memberprofile.id %}">{{ ballot.member }}</a></td>
                    <td>
                        {% if pool.allow_new_picksheets %}
                            {{ ballot.name }}
                        {% else %}
                            <a href="{% url 'oscar_ballot' pool.id ballot.id %}">{{ ballot.name }}</a>
                        {% endif %}
                    </td>
                    <td>
                      {% if user == ballot.member and pool.allow_new_picksheets %}
                          <a href="{% url 'oscar_ballot' pool.id ballot.id %}">Edit</a>
                      {% endif %}
                    </td>
                    {% if user == pool.administrator %}
                        <td><a onclick="return confirm('Are you sure you want to delete this Ballot?')" href="{% url 'oscar_remove_ballot' pool.id ballot.id %}">Remove</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </div>
            </table>
        {% else %}
            <tr>
               <td colspan=3>No ballots have been submitted yet</td>
            </tr>
            </table>
        {% endif %}
      </div>
    </div>
{% endblock %}
