{% extends 'oscars/pool_home_core.html' %}
{% block body %}
        <title>Ballots - {{ pool.name }} | Office Pool Hub</title>
        <h2 id="all_ballots" style="display:inline;cursor:pointer;font-family:Verdana, Geneva, sans-serif;"><b>All Ballots</b></h2>
        <br><br>
        {% if allow_new_ballots %}
            <form action="{% url 'oscar_create_ballot' pool.id %}" method="GET">{% csrf_token %}
                <input type="submit" value="Create a Ballot" /> - You have until {{ pool.entry_deadline }} to submit or make changes to your ballots.
            </form>
        {% else %}
			{{ no_picksheets_reason }}
		{% endif %}
        <table class="span-15">
            <tr class="header">
                <th style="border-bottom:1px solid black;"><b>Member</b></th>
                <th style="border-bottom:1px solid black;"><b>Ballot</b></th>
                {% if user == pool.administrator %}
                    <th></th>
                {% endif %}
                <th></th>
            </tr>
        {% if ballots %}
            <div id="all-ballots-list">
            {% for ballot in ballots %}
                <tr class="all-ballots-single">
                    <td><a href="{% url 'profile_stats' ballot.member.memberprofile.id %}">{{ ballot.member }}</a></td>
                    <td>
                        {% if pool.allow_new_picksheets %}
                            {{ ballot.name }}
                        {% else %}
                            <a href="{% url 'oscar_ballot' pool.id ballot.id %}">{{ ballot.name }}</a>
                        {% endif %}
                    </td>
                    {% if user == pool.administrator %}
                        <td class="span-2"><a onclick="return confirm('Are you sure you want to delete this Ballot?')" href="{% url 'oscar_remove_ballot' pool.id ballot.id %}">Remove</a></td>
                    {% endif %}
                    {% if user == ballot.member and pool.allow_new_picksheets %}
                        <td><a href="{% url 'oscar_ballot' pool.id ballot.id %}">Edit</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </div>
            </table>
        {% else %}
            <tr>
               <td colspan=3>No ballots have been submitted yet</td>
            </tr>
            </table>
        {% endif %}
{% endblock %}
