{% extends 'oscars/pool_home_core.html' %}
{% load bootstrap3 %}
{% block body %}
  <title>Email Members | Oscar Pool Hub</title>
  <h2 class="headliner">Email Members</h2>
  <div class="padding-left-md-1">
    <p>Email your pool members with reminders and updates.</p>

    <form method="get">{% csrf_token %}
      <div>
              <span style="font-weight:bold">From:</span><br>
              <span class="padding-left-md-2">{{ user }}</span>
      </div><br>
      <div>
              <span style="font-weight:bold">To:</span><br>
              <span class="padding-left-md-2">All Pool Members</span>
      </div><br>
      <div class="row">
        <div class="col-md-7">
          {% bootstrap_field form.subject %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          {% bootstrap_field form.body %}
        </div>
      </div>
      <div>
          <button class="btn btn-primary" type="submit" name="submit">Send</button>
      </div>
    </form>
  </div>
{% endblock %}
