<h3>How do I start an Oscar Pool?</h3>
<p>To create an Oscar Pool, hover your mouse over the "Create a Pool" link in the Main menu and select "Create Oscar Pool" or
    or go to <a href="{% url 'create_oscar_pool' %}">Create Oscar Pool</a>.</p>
<hr>

<h3>How do I join a Pool?</h3>
<p>To join a pool click on the "Join a Pool" link in the main menu above.  Here you can join Public Pools or if you know the pool id of a
    pool you'd like to join, you can enter it into the form.(a password may be required to enter pools that are private)</p>
<hr>

<h3>What is a Ballot?</h3>
<p>Each member of a pool will fill out a Ballot on who they think will win each category of the award show.
    Throughout the show these Ballots will be compared to one another and a winner will be determined when the award show
has ended.  <br><br>Some pool admins may allow members to submit multiple Ballots.</p>
<hr>

<h3>How do I know who is winning in my Oscar Pool?</h3>
<p>When within your pool there is a link titled "Standings" at the top.  If you click this you will see where everyone within the pool is currently ranked.</p>
<hr>

<h3>What happens when there is a Tie?</h3>
<p>In the event of a Tie, our site looks at the ballot that was last edited the furthest time ago and gives that ballot priority.
We are considering tie breaker questions in the future but for now oscars pools have to come up with their own tie breaker outside of
this website.</p>
<hr>
