<h3>How do I start an Oscar Pool?</h3>
<h4>To create an Oscar Pool, hover your mouse over the "Create a Pool" link in the Main menu and select "Create Oscar Pool" or
    or go to <a href="{% url 'create_oscar_pool' %}">Create Oscar Pool</a>.</h4>
<hr>

<h3>How do I join a Pool?</h3>
<h4>To join a pool click on the "Join a Pool" link in the main menu above.  You will then have to put in the Pool ID and password
for the pool you'd like to join.  At the moment there are no public pools so to join a pool, you must get this information
from the pool's administrator.</h4>
<hr>

<h3>What is a Ballot?</h3>
<h4>Each member of a pool will fill out a Ballot on who they think will win each category of the award show.
    Throughout the show these Ballots will be compared to one another and a winner will be determined when the award show
has ended.  <br><br>Some pool admins may allow members to submit multiple Ballots.</h4>
<hr>

<h3>How do I know who is winning in my Oscar Pool?</h3>
<h4>When within your pool there is a link titled "Standings" at the top.  If you click this you will see where everyone within the pool is currently ranked.</h4>
<hr>

<h3>What happens when there is a Tie?</h3>
<h4>In the event of a Tie, our site looks at the ballot that was last edited the furthest time ago and gives that ballot priority.
We are considering tie breaker questions in the future but for now oscars pools have to come up with their own tie breaker outside of
this website.</h4>
<hr>