{% extends "oscars/pool_home_core.html" %}
{% load bootstrap3 %}
{% block page-css-links %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base/table.css">
{% endblock %}
{% block head %}
{{ block.super }}
    <script type="text/javascript">
        $(function(){

            if($("#id_how_to_win").val() == '' || $("#id_how_to_win").val() == 'correct'){
                $("input[id$=points]").hide();
                $("#points").hide();
                }
            else{
                $("input[id$=points]").show();
                $("#points").show();
                }
            $("#id_how_to_win").change(function(){
                if($("#id_how_to_win").val() == '' || $("#id_how_to_win").val() == 'correct'){
                    $("input[id$=points]").hide();
                    $("#points").hide();
                    }
                else{
                    $("input[id$=points]").show();
                    $("#points").show();
                    }
                    });

            if ($("input#id_public").prop('checked')) {
                    $("#row_password").hide();
                } else {
                    $("#row_password").show();
                }

            $("input#id_public").click(function(){
                 if ($("input#id_public").prop('checked')) {
                    $("#row_password").hide();
                } else {
                    $("#row_password").show();
                }
            });
        });

    </script>
{% endblock %}
{% block pool_menu %}
    {% if pool %}
    {{ block.super }}
    {% endif %}
{% endblock %}
{% block body %}
  {% if pool %}
      <title>Settings - {{ pool.name }} | Oscar Pool Hub</title>
      <h2 class="headliner">{{ pool.name }} Settings</h2>
      <h4 style="margin:0em 0em 1em 1em;">You will not be able to edit the pool settings once the ceremony has started</h4>
  {% else %}
      <title>Create Oscar Pool | Office Pool Hub</title>
      <h2 class="headliner">Create an Oscar pool</h2>
  {% endif %}
  {% if pool and pool.is_past_due %}
    <div style="margin-left: 1.5em;">
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5">
            {{ form.name.label_tag }}
          </div>
          <div class="col-md-3 col-sm-4 col-xs-5">
            {{ form.name.value }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5">
            {{ form.public.label_tag }}
          </div>
          <div class="col-md-3 col-sm-4 col-xs-5">
            {{ form.public.value }}
          </div>
        </div>
        {% if form.public.value == False %}
          <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-5">
              {{ form.password.label_tag }}
            </div>
            <div class="col-md-3 col-sm-4 col-xs-5">
              {{ form.password.value }}
            </div>
          </div>
        {% endif %}
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5">
            {{ form.entry_deadline.label_tag }}
          </div>
          <div class="col-md-3 col-sm-4 col-xs-7">
            {{ form.entry_deadline.value }} All time in EST.
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5">
            {{ form.max_members.label_tag }}
          </div>
          <div class="col-md-3 col-sm-4 col-xs-5">
            {{ form.max_members.value }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5">
            {{ form.max_submissions.label_tag }}
          </div>
          <div class="col-md-3 col-sm-4 col-xs-5">
            {{ form.max_submissions.value }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5">
            {{ form.how_to_win.label_tag }}
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            {{ form.instance.get_how_to_win_display }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3 class="headliner">Awards on Ballot:</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6" style="text-decoration:underline; font-weight: bold;">
            Award
          </div>
          {% if form.instance.how_to_win != 'correct' %}
          <div class="col-md-2 col-sm-3 col-xs-5 text-left" style="text-decoration:underline; font-weight: bold;">
            Awarded Points
          </div>
          {% endif %}
        </div>
        {% for c in category_forms %}
            {% if c.active.value == True %}
              <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                  {{ c.name.value }}
                </div>
                {% if form.instance.how_to_win != 'correct' %}
                <div class="col-md-2 col-sm-3 col-xs-5">
                  {{ c.points.value }}
                </div>
                {% endif %}
              </div>
            {% endif %}
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-md-12">
          <form method="post">{% csrf_token %}
            <button class="btn btn-primary" type="submit" name="delete" id="delete"
              onclick="return confirm('Are you sure you want to delete this Pool?')"
              style="margin: 1em 1em;">
              Delete Pool
            </button>
          </form>
        </div>
      </div>
  {% else %}
  <form method="post">{% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-9">
            {% bootstrap_field form.name %}
          </div>
          <div class="col-md-12">
            {% bootstrap_field form.public %}
          </div>
          <div id="row_password" class="col-md-9">
            {% bootstrap_field form.password %}
          </div>
          <div class="col-md-9">
            {% bootstrap_field form.entry_deadline %}
          </div>
          <div class="col-md-7">
            {% bootstrap_field form.max_members %}
          </div>
          <div class="col-md-7">
            {% bootstrap_field form.max_submissions %}
          </div>
          <div class="col-md-12">
            <h3 class="headliner">Create the Ballot</h3>
          </div>
          <div class="col-md-7">
            {% bootstrap_field form.how_to_win %}
          </div>
        </div>
        <div class="col-md-7" style="margin: 1em 0em 0em 1em;">
          <table class="table">
              <tr class="header">
                  <th>Check to include category</th>
                  <th>Award</th>
                  <th id="points">Awarded points</th>
              </tr>
              {% for c in category_forms %}
                  <tr>
                      <td>{{ c.active }}</td>
                      <td>{{ c.name.value }}</td>
                      <td>{{ c.points }}</td>
                  </tr>
              {% endfor %}
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <button type="submit" name="submit" class="btn btn-primary"  style="margin-left: 1em; margin-right: 1.5em;">
              {% if pool %}Save{% else %}Create Pool{% endif %}
            </button>
            {% if form.instance.id %}
              <button class="btn btn-primary" type="submit" name="delete" id="delete"  onclick="return confirm('Are you sure you want to delete this Pool?')">
                Delete Pool
              </button>
            {% endif %}
        </div>
      </div>
  </form>
  {% endif %}
{% endblock %}
{% block active_tab %}
  {% if not pool %}
	 <script>$('#createPool').addClass('active')</script>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}
