{% extends "panel_core.html" %}
{% block menu %}
{{ block.super }}
        <div class="submenu" style="overflow:visible;width:950px;height:52px; margin:-21 auto;">
            <ul>
                <li><a href="{{ pool.get_absolute_url }}">Pool Home</a></li>
                <li id="ballots"><a href="{% url 'oscar_pool_ballots' pool.id %}">Ballots</a></li>
                <li><a href="{% url 'oscar_standings' pool.id %}">Standings</a></li>
                <li><a href="{% url 'oscar_members' pool.id %}">Members</a></li>
                <li><a href="{% url 'predictions' pool.id %}">Predictions/Results</a></li>
                {% if user == pool.administrator %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="color:orange;" href="#" role="button">
                        Admin<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'oscar_settings' pool.id %}">Settings</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="{% url 'oscar_email_members' pool.id %}">Email members</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
{% endblock %}
