{% extends 'oscars/pool_home_core.html' %}
{% load oscars_tags %}
{% block page-css-links %}{{ block.super }}{% endblock %}
{% block body %}
  <title>{{ pool.name }} | Oscar Pool Hub</title>

  <h2 class="headliner">{{ pool.name}} home page</h2>
  <article>
    <h3 class="padding-left-md-1">
      <strong>Admin Message:</strong>
      {% if user == pool.administrator %}
        <a href="{% url 'oscar_admin_message' pool.id %}" style="font-size:12px;">edit</a>
      {% endif %}
    </h3>
    </br>
    <div class="padding-left-md-2">
      {{ pool.admin_note|safe }}
    </div>
  </article>
  </br>
  <article>
      <h3 class="padding-left-md-1">
        <strong>Pool Format:</strong>
      </h3>
      <h3 class="sub-headliner">When are the Academy Awards?</h3>
      <span class="padding-left-md-4">{{ pool.oscarpool.oscar_ceremony.date }}</span>
      <h3 class="sub-headliner">How to Win:</h3>
      {% if pool.how_to_win == 'points' %}
          <div class="padding-left-md-4">
            Correctly guessing the winners of each category nets you points.
            Be the one at the end with the most points and you'll be crowned the winner!
          </div>
          <h3 class="sub-headliner">Point Distribution:</h3>
          {% for category in pool.customcategory_set.all %}
              {% if category.active %}
                  <strong class="padding-left-md-4" style="text-align: left;">{{ category.name }}</strong> -- {{ category.points }} points<br>
              {% endif %}
          {% endfor %}
      {% else %}
          <span class="padding-left-md-4">Correctly guess more winners on your ballot than anyone else and you win!</span>
      {% endif %}
  </article>
{% endblock %}
