{% extends "oscars/pool_home_core.html" %}
{% load oscars_tags %}
{% block page-css-links %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base/table.css">
{% endblock %}
{% block body %}
    <title>{{ header }} - {{ pool.name }} | Oscar Pool Hub</title>
    <h2 class="headliner">{{ header }}</h2>
    {% display_top_three %}
    <article>
      <div class="table-responsive">
        <table class="table table-condensed">
          <tr class="header">
              <th>Member</th>
              <th>Ballot</th>
              <th>Correct Picks</th>
              {% if pool.how_to_win == 'points' %}
              <th>Total Points</th>
              {% endif %}
          </tr>
          {% if ballots %}
          {% for ballot in ballots %}
              <tr>
                  <td><a href="{% url 'profile_stats' ballot.member.memberprofile.id %}">{{ ballot.member }}</a></td>
                  <td>
                    {% if pool.allow_new_picksheets or header == "Recap" %}
                        {{ ballot.name }}
                    {% else %}
                        <a href="{% url 'oscar_ballot' pool.id ballot.id %}">{{ ballot.name }}</a>
                    {% endif %}
                  </td>
                  <td>{{ ballot.total_correct }}</td>
                  {% if pool.how_to_win == 'points' %}
                   <td>{{ ballot.total_points }}</td>
                  {% endif %}
              </tr>
          {% endfor %}
          {% else %}
              <tr>
                 <td colspan=3>No ballots have been submitted yet</td>
              </tr>
          {% endif %}
        </table>
      </div>
    </article>
{% endblock %}
