
{% if top_three_winners %}
<div class="row" style="padding-bottom: 20px;">
  <div class="col-md-12">
    <h1 style="font-family:Sofia;text-align:center;padding-bottom: 10px;">FINAL RESULTS</h1>
  </div>
  <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-1 col-xs-4 text-center">
    <img class="img-responsive center-block" src="{{ STATIC_URL }}img/gold-trophy.png" height="124px" width="106px">
    <h3>{{ top_three_winners.0.member }}</h3>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-4 text-center">
    <img class="img-responsive center-block" src="{{ STATIC_URL }}img/silver-trophy.png" height="124px" width="106px">
    <h3>{{ top_three_winners.1.member }}</h3>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-4 text-center">
    <img class="img-responsive center-block" src="{{ STATIC_URL }}img/bronze-trophy.png" height="124px" width="106px">
    <h3>{{ top_three_winners.2.member }}</h3>
  </div>
</div>
{% endif %}
