body {
    background: #d3d3d3;
    margin-top: 0px !important;
    padding: 0px !important;
}

h1,h2,h3,h4,h5,h6 {
  margin:0px;
}

.bg-success{
  background-color: #B7DBB7;
  padding: 10px;
}

.bg-error {
  background-color: #FFB2B2;
  padding: 10px;
}

.padding-10 {
  padding:10px;
}

#header div#userBanner{
  float:right;
  text-align:right;
  color:#FFF;
  padding-top:60px;
  padding-right:30px;
}

#header {
  background-color: #27282C;
}
#header a {
  color: #FFF;
  text-decoration: underline;
}

.headliner {
  padding: 20px 0px;
  font-family:Verdana, Geneva, sans-serif;
  font-weight: bold;
}

.sub-headliner {
  padding: 10px 0px;
  padding-left:1.5em;
}

div#notLoggedIn {
  margin-top: 20px;
}

div#banner {
  margin-top:0px;
  margin-bottom: 0px;
  display: block;
  font-size: 2.6em;
  color: white;
  padding:60px 0px 20px 20px !important;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


#navbarMain.affix {
    position: fixed;
    top: 0px;
    margin:0px;
    width: 100%;
}

.affix-top + #buffer {
  display: none;
}

.affix + div {
  display: block;
  height:32px;
}

.affix #siteBrand {
  display: block !important;
  padding: 5px 15px !important;
  vertical-align: center !important;
  height:10px;
  margin:0px;
}

.navbar-brand:hover{
    color: #FFF !important;
}

#primaryNavbarBrand.affix p.navbar-brand{
  display: none !important;
}

.navbar-default .navbar-brand{
  color: #FFF;
  margin:0px;
}

.navbar-default .navbar-text {
  color: #FFF;
}
.navbar-default {
  min-height:20px;
}

#navbarMain.navbar {
  background-color: #CC240A;
  border: 0px;
  border-radius:0px;
  width:100%;
  margin-bottom: 0px;
  z-index: 100;
}

#navbarMain.navbar-default .navbar-toggle {
    border-color: #DDD;
}

#navbarMain.navbar-default .navbar-toggle {
  background-color: #27282C;
  border-color: #27282C;
}

#navbarMain.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: #45484B;
  border-color: #45484B;
}

#navbarMain.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF; #CC240A;
}

.navbar-default .navbar-nav>li>a  {
  color: #FFF;
  padding: 5px 15px;
}

.navbar-default .navbar-nav>li>.active>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li:hover>a {
  color: #FFF;
}

#navbarMain.navbar-default .navbar-nav>li:hover {
  background-color: #45484B;
}

#navbarMain.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #27282C;
  color: #FFF;
}


@media (max-width: 767px) {
  .affix #siteBrand {
    display: none !important;
  }
  .affix {
    position: relative !important;
  }
}

body>div#content {
  background-color: #FFF;
  min-height:600px;
}

footer {
  margin: 0px auto !important;
  padding: 40px 0px;
  background-color: #FFF;
}

footer>div.seperator {
  border-top:1px solid;
}

body>footer>div#content {
   text-align: center;
   margin: 20px 0px;
}

.form-control:focus {
  border-color: #45484B;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #45484B;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #45484B;
}

/* buttons */
.btn-primary, .btn-primary:disabled:hover {
  border: none;
  background-color: #CC240A;
}

.btn-primary:hover, .btn-primary:hover:active {
  background-color: #45484B;
}

.btn-primary:focus, .btn-primary:active {
  background-color: #27282C;
}

/* Item lists */
.list-group-item.active {
  background-color:#CC240A;
  color: #FFF;
  border-color: #FFF;
}

.list-group-item.active:hover {
  background-color: #CC240A;
  border-color: #FFF;
  cursor: pointer;
}

.list-group-item:hover {
  cursor: pointer;
}

/* remove default indents on lists when screen is xs */
@media (max-width: 767px) {
  ul {
    padding-left: 0px;
  }
}

/* padding that is removed on xs screens*/
.padding-left-md-1{
  padding-left: 1em;
}

.padding-left-md-2{
  padding-left: 2em;
}

.padding-left-md-4{
  padding-left: 4em;
}

/* remove or halve padding on certain classes when on a xs screen*/
@media (max-width: 767px) {

  .padding-left-md-1{
    padding-left: 0em;
  }

  .padding-left-md-2{
    padding-left: 1em;
  }

  .padding-left-md-4{
    padding-left: 2em;
  }

  div#banner {
    padding-left:0px !important;
  }

  .sub-headliner {
    padding-left: 0px;
  }
}


/* Misc */
.well {
  border: 1px solid;
}
input:checked + span {
  font-weight: bold !important;
}

.border-divider {
  border-left: 1px solid;
  height:200px;
  margin-top:30px;
}

.tab-image {
  background-size: 12% 100%;
  background-repeat:no-repeat;
  background-position: left center;
}
