{% extends "panel_core.html" %}
{% load bootstrap3 %}
{% block page-css-link %}{% endblock %}
{% block body %}
  <title>Password Reset | Oscar Pool Hub</title>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2 class="headliner">Enter New Password</h2>
      <article>
        <p style="text-align:center;">Please enter your new password twice so
           that we can verify you typed it in correctly.</p>

         {% if validlink %}
             <form action="" method="post">{% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Change my password</button>
             </form>
         {% else %}
             <h1>Password reset unsuccessful</h1>
             <p>The password reset link was invalid, <br />
             possibly because it has already been used. <br />
             Please request a new password reset.</p>
         {% endif %}
       </article>
    </div>
  </div>
{% endblock %}
