{% extends "panel_core.html" %}
{% load bootstrap3 %}
{% block page-css-links %}{% endblock %}
{% block body %}
  <title>Password Reset | Office Pool Hub</title>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2 class="headliner">Password Reset</h2>
    <article>
      <p>Enter your account's email below and we will send you a link to the reset password form.</p>
      <form action="" method="post">{% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
    </article>
  </div>
</div>
{% endblock %}
