{% extends "panel_core.html" %}
{% load bootstrap3 %}
{% block page-css-links %}{% endblock %}
{% block body %}
<title>Sign Up | Office Pool Hub</title>
<div class="row container">
  <div class="col-md-5 col-md-offset-5">
    <h2 class="headliner">Sign Up</h2>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <form method="post" class="col-md-12">{% csrf_token %}
        {% bootstrap_form form %}
        <div>
            <input class="btn btn-primary" type="submit" name="submit" value="Register" />
        </div>
    </form>
  </div>
</div>
{% endblock %}
