{% extends "panel_core.html" %}
{% block body %}
<title>Sign Up | Office Pool Hub</title>
<h3 style="font-family:Verdana, Geneva, sans-serif">Sign Up</h3>
<form method="post" class="span-12">{% csrf_token %}
    <table>
        <tr>
            <td class="span-4">{{ form.username.label_tag }}</td>
            <td class="span-7">{{ form.username }}{{ form.username.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.email.label_tag }}</td>
            <td>{{ form.email }}{{ form.email.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.password1.label_tag }}</td>
            <td>{{ form.password1 }}{{ form.password1.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.password2.label_tag }}</td>
            <td>{{ form.password2 }}{{ form.password2.errors }}</td>
        </tr>
    </table>
    <div>
        <input class="submit" type="submit" name="submit" value="Register" />
    </div>
</form>


{% endblock %}