<h3>How can I change my password?</h3>
<h4>To change your password got to our <a href="{% url 'password_reset' %}">Request Password Change form</a> and
    follow the onscreen steps.</h4>
<hr>

<h3>How do I deactivate or delete my account?</h3>
<h4>On our contact page, fill out the form completely and tell us whether you want your account deleted or just
    deactivated.  One of our staff members will respond to your message shortly.</h4>
<hr>

<h3>How do I reactivate my account?</h3>
<h4>On our contact page, fill out the form completely and tell us you'd like to reactivate your account.
    We will reactivate your account that same day.  In the future we will streamline this feature a little better.</h4>
<hr>