<h3>How can I change my password?</h3>
<h4>To change your password got to our <a href="{% url 'password_reset' %}">Request Password Change form</a> and
    follow the onscreen steps.</h4>
<hr>

<h3>How do I deactivate or delete my account?</h3>
<h4>On our contact page, fill out the form completely and tell us whether you want your account deleted or just
    deactivated.  Your message will receive a response to shortly.</h4>
<hr>

<h3>How do I reactivate my account?</h3>
<h4>On our contact page, fill out the form completely and tell us that you'd like to reactivate your account.
    Your account will be reactivated that same day.</h4>
<hr>