{% extends "panel_core.html" %}
{% load bootstrap3 %}
{% block page-css-links %}{% endblock %}
{% block body %}
    <title>Contact | Oscar Pool Hub</title>
    <h2 class="headliner">Contact</h2>
    <h4>You can contact us about anything.  It can be to ask a Question, report a Bug, offer Advice, send Praise, or express Hatred.  The
    choice is yours!</h4>
    <br>
    <form method="post" action="">{% csrf_token %}
      <div class="row">
        <div class="col-md-4 col-sm-5">
          {% bootstrap_field form.email %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-5">
          {% bootstrap_field form.subject %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-9">
          {% bootstrap_field form.body %}
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Send</button>
    </form>
{% endblock %}
