{% extends "panel_core.html" %}
{% block body %}
    <title>Contact | Office Pool Hub</title>
    <h2 style="font-family:Verdana, Geneva, sans-serif">Contact</h2>
    <h3>You can contact us about anything.  It can be to ask Question, report a Bug, offer Advice, send Praise, or express Hatred.  The
    choice is yours!</h3>
    <form method="post" action="">{% csrf_token %}
        <table>
            <tr>
                <td>{{ form.email.label_tag }}</td>
                <td>{{ form.email }}{{ form.email.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.subject.label_tag }}</td>
                <td>{{ form.subject }}{{ form.subject.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.body.label_tag }}</td>
                <td>{{ form.body }}{{ form.body.errors }}</td>
            </tr>
            <tr>
                <td><input type="submit" value="Send" /></td>
            </tr>
        </table>
    </form>
{% endblock %}