{% extends "panel_core.html" %}
{% block page-css-links %}{% endblock %}
{% block head %}
{{ block.super }}
    <script>
        $(function(){
            $("#account").click(function(){
                $("#account").addClass("active");
                $("#oscar").removeClass("active");
                $("#account-questions").show();
                $("#oscar-questions").hide();
            });
            $("#oscar").click(function(){
                $("#account").removeClass("active");
                $("#oscar").addClass("active");
                $("#account-questions").hide();
                $("#oscar-questions").show();
            });
        });
    </script>
{% endblock %}
{% block body %}
    <title>FAQ | Office Pool Hub</title>
    <h2 class="headliner">Frequently Asked Questions!</h2>
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <aside>
          <ul class="list-group text-center">
            <li id="account" class="list-group-item active">General Account Questions</li>
            <li id="oscar" class="list-group-item">Oscar Pool Questions</li>
          </ul>
        </aside>
      </div>
      <div class="col-md-9 col-sm-8">
        <article>
          <div id="account-questions" style="display:show;">
            {% include "base/account-faq.html" %}
          </div>
          <div id="oscar-questions" style="display:none;">
            {% include "oscars/faq.html" %}
          </div>
        </article>
      </div>
    </div>
{% endblock %}
{% block active_tab %}
	<script>$('#faq').addClass('active')</script>
{% endblock %}
