{% extends 'panel_core.html' %}

{% block body %}
<h2>Create a Pool</h2>
<form method="post" class="span-15">{% csrf_token %}

    <h3>Pool Info</h3>
    <table>
        <tr>
            <td class="span-3">{{ form.name.label }}</td>
            <td class="span-4">{{ form.name }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label }}</td>
            <td>{{ form.password }}</td>
            <td>{{ form.password.help_text }}</td>
        </tr>
        <tr>
            <td>{{ form.password_confirm.label }}</td>
            <td>{{ form.password_confirm }}</td>
        </tr>
       </table>
    <h3>Pool Customization</h3>
    <table>
        <h5>Points breakdown for each win</h5>
        <tr>
            <td class="span-1">{{ form.first_round_pts.label }}</td>
            <td>{{ form.first_round_pts }}</td>
        </tr>
        <tr>
            <td>{{ form.second_round_pts.label }}</td>
            <td>{{ form.second_round_pts }}</td>
        </tr>
        <tr>
            <td>{{ form.sweet_sixteen_pts.label }}</td>
            <td>{{ form.sweet_sixteen_pts }}</td>
        </tr>
        <tr>
            <td>{{ form.elite_eight_pts.label }}</td>
            <td>{{ form.elite_eight_pts }}</td>
        </tr>
        <tr>
            <td>{{ form.final_four_pts.label }}</td>
            <td>{{ form.final_four_pts }}</td>
        </tr>
        <tr>
            <td>{{ form.national_championship_pts.label }}</td>
            <td>{{ form.national_championship_pts }}</td>
        </tr>
    </table>
    <h5>Extra</h5>
    <table>
        <tr>
            <td class="span-3">{{ form.seed_bonus.label }}</td>
            <td class="span-4">{{ form.seed_bonus }}</td>
            <td>{{ form.seed_bonus.help_text }}</td>
        </tr>
        <tr>
            <td>{{ form.multiple_brackets.label }}</td>
            <td>{{ form.multiple_brackets }}</td>
            <td>{{ form.multiple_brackets.help_text }}</td>
        </tr>
    </table>
    <div>
        <input class="submit" type="submit" name="submit" value="Create Pool" />
    </div>
</form>
{% endblock %}