{% extends 'panel_core.html' %}
{% block page-css-links %}{% endblock %}
{% block body %}
  <title>Your Pools | OfficePoolHub.com</title>
  <div class="row">
    <div class="col-md-12">
      <h2 class="headliner">Your Pools</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul style="list-style-type: none;">
        {% for pool in cur_oscar_pools %}
          <li>
            <div class="well well-sm" style="text-align:center;">
              <span style="font-weight:bold;"><a href="{{ pool.get_absolute_url }}">{{ pool.name }}</a></span>
              <span style="padding: 0px 15px;">|</span> Admin: {{ pool.administrator }}
            </div>
          </li>
        {% empty %}
          <p>You are not in any pools</p>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="headliner">Past Pools</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul style="list-style-type: none;">
        {% for pool in old_oscar_pools %}
          <li>
            <div class="well well-sm" style="text-align:center;">
              <span style="font-weight:bold;"> <a href="{% url 'oscar_pool_recap' pool.id %}">Celebrate the Oscars with AMG!</a></span>
              <span style="padding: 0px 15px;">|</span> Admin: {{ pool.administrator }}
            </div>
          </li>
        {% empty %}
          <p>You don't have any past pools</p>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
{% block active_tab %}
	<script>$('#yourPools').addClass('active')</script>
{% endblock %}
