{% extends 'panel_core.html' %}
{% block page-css-links %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base/pool_list.css">
{% endblock %}
{% block body %}
  <title>Your Pools | Oscar Pool Hub</title>
  <div class="row">
    <div class="col-md-12">
      <h2 class="headliner">Your Pools</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul style="list-style-type: none;">
        {% for pool in cur_oscar_pools %}
          <li>
            <div class="well well-sm tab-image" style="text-align:center; background-image: url('{{ STATIC_URL }}img/tab-oscars-logo.png');">
              <span style="font-weight:bold;"><a href="{{ pool.get_absolute_url }}">{{ pool.name }}</a></span>
              <span style="padding: 0px 15px;">|</span> Admin: {{ pool.administrator }}
            </div>
          </li>
        {% empty %}
          <p>You are not in any Oscar pools</p>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="headliner">Past Pools</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul style="list-style-type: none;">
        {% for pool in old_oscar_pools %}
          <li>
            <div class="well well-sm" style="text-align:center;">
              <span style="font-weight:bold;"> <a href="{% url 'oscar_pool_recap' pool.id %}">{{ pool.name }}</a></span>
              <span style="padding: 0px 15px;">|</span> Admin: {{ pool.administrator }}
            </div>
          </li>
        {% empty %}
          <p>You don't have any past Oscar pools</p>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
{% block active_tab %}
	<script>$('#yourPools').addClass('active')</script>
{% endblock %}
