{% extends 'panel_core.html' %}
{% block page-css-links %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base/table.css">
{% endblock %}
{% block body %}

  <h2 class="headliner">Oscar Public Pools</h2>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
       <tr class="header">
           <th>Pool Name</th>
           <th>Admin</th>
           <th>Members</th>
           <th>Max Members</th>
           <th>Max Submissions</th>
           <th></th>
       </tr>
       {% if pools %}
           {% for pool in pools %}
                <tr>
                    <th>{% if user in pool.members.all or user == pool.administrator %}
                        <a href="{{ pool.get_absolute_url }}">{{ pool.name }}</a>
                        {% else %}
                        {{ pool.name }}
                        {% endif %}
                    </th>
                    <th>{{ pool.administrator }}</th>
                    <th>{{ pool.members.count|add:"1" }}</th>
                    <th>{{ pool.max_members }}</th>
                    <th>{{ pool.max_submissions }}</th>
                    <th>{% if user in pool.members.all or user == pool.administrator %}
                        Already Joined
                        {% else %}
                        <a href="{% url 'join_public_pool' pool.identity %}">Join Pool</a>
                        {% endif %}
                    </th>
                </tr>
           {% endfor %}
       {% else %}
          <tr>
              <td colspan="4">There are no open public Oscar Pools at this time.</td>
          </tr>
       {% endif %}
   </table>
 </div>
{% endblock %}
{% block active_tab %}
	<script>$('#joinPool').addClass('active')</script>
{% endblock %}
