<h3>How do I start an NFL Survivor Pool?</h3>
<h4>To create an NFL Survivor Pool, hover your mouse over the "Create a Pool" link in the Main menu and select "Create NFL Survivor Pool" or
    or go to <a href="{% url 'create_nflsurvivor_pool' %}">Create NFL Survivor Pool</a>.</h4>
<hr>

<h3>How do I join a Pool?</h3>
<h4>To join a pool click on the "Join a Pool" link in the main menu above.  Here you can join Public Pools or if you know the pool id of a
    pool you'd like to join, you can enter it into the form.(a password may be required to enter pools that are private)</h4>
<hr>

<h3>What is a Pick Sheet?</h3>
<h4>Each member within an NFL Survivor pool will fill out a Pick Sheet.  A Pick Sheet allows you to record which team you think
    will win each week of the season.  You're Pick Sheet can't have the same team twice so choose wisely.
    <br><br>
    You will use the same Pick Sheets that you have created for the entire season to record your predicted winners.  So if your ready to pick a winner
    for week 2, go back to your pick sheet and pick a winner for week 2.  This continues throughout the year.  You DO NOT create a new pick sheets for each week.
    You use the same pick sheets throughout the year.
    <br><br>If the the Pool Admin allows it, members may be able to submit multiple Pick Sheets.</h4>
<hr>

<h3>How do I know who is winning in my NFL Survivor Pool?</h3>
<h4>When within your pool there is a link titled "Standings" at the top.  If you click this you will see where everyone within the pool is currently ranked.</h4>
<hr>

<h3>What happens when there is a Tie?</h3>
<h4>In the event of a Tie, our site looks at the Pick Sheet that is the oldest and gives that Pick Sheet priority over
    the Pick sheet it was tied with. We are considering tie breaker questions in the future but for now nfl survivor
    pools will have to come up with their own tie breaker outside of this website to determine a real winner.</h4>
<hr>

<h3>The season is over, can I re-use the same pool for next season?</h3>
<h4>At the moment NFL Survivor Pools are not re-useable.  A new NFL Survivor Pool must be created each season.</h4>