{% extends "panel_core.html" %}
{% block body %}
        <title>NFL Survivor Office Pools | Office Pool Hub</title>
        <h2 style="font-family:Verdana, Geneva, sans-serif"><b>NFL Survivor Office Pools: Getting Started</b></h2>
        <h3><b>How it works:</b></h3>
        <p style="width:70%;">The each member of a pool will try to guess a single winner for each week of the NfL Season.
        The last member of a pool who hasn't guessed incorrectly is the winner of the pool.  What makes it tricky part
            is that you can't guess the same team twice.</p>
        <p>So if you choose New England Patriots to win for Week 1, you can't choose the Patriots again for any other week.</p>
        <p>Depending on the settings of your pool, you have two ways of making your picks:</p>
        <p><b>Week By Week:</b> This is probably the most popular.  Members of the pool have up until the first game of each
            week to pick their winner for that week.  So you can make all of your picks for the whole year, and then come
        back each week if you wanted to change your pick.  As soon as the first game starts for a week, no one can change their picks
        for that week.</p>
        <p><b>All at Once:</b> With this format members have a deadline to submit all of their picks for the entire year.  Once
         the deadline passes, everyone's picks are locked and no one in the pool can edit their picks for the rest of the year.
        So you're submitting all your picks at the beginning of the season, and hope it all plays out like you hoped.</p>
        <h3><b>How to Win:</b></h3>
        <p style="width:70%;">
        As the season goes on, members in your pool will start guessing the wrong team to win.  And as soon as you guess the
            wrong team, you're out.  So to win, you have to be the last surviving person in your pool that hasn't made a wrong
        prediction yet.</p>

        <h3><b>Thats It! Get Started Today!</b></h3>
        <p style="width:70%;">Now go create or join an NFL Survivor Pool and let us do all the hard work for you!  Hurry up, the season starts on Sept 4th!</p>

        <form method="GET" action="{% url 'create_nflsurvivor_pool' %}" style="float:left;">{% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Create a Pool Now!"/>
        </form>
        <form method="GET" action="{% url 'nflsurvivor_public_pools' %}">{% csrf_token %}
            &nbsp&nbsp or <input type="submit" class="btn btn-danger" style="margin-left:10px;" value="Join a Public Pool!"/>
        </form>
{% endblock %}