{% extends 'nflsurvivor/pool_home_core.html' %}
{% load oscars_tags %}
{% block body %}
        <title>{{ pool.name }} | Office Pool Hub</title>
        <h2 style="font-family:Verdana, Geneva, sans-serif"><b>{{ pool.name}} home page</b></h2>
        <h3 class="span-9"><b>Administrator Welcome Message:</b>{% if user == pool.administrator %}&nbsp<a href="{% url 'nflsurvivor_admin_message' pool.id %}" style="font-size:12px;">edit</a>{% endif %}</h3><br><br>
        <div style="margin-left:13px;">
        {{ pool.admin_note|safe }}
        </div>
        <br>
            <div>
            <h3><b>Pool Format:</b></h3>
                <div style="margin-left:13px;">
                    <h3 style="margin-bottom:10px;">How-To-Play:</h3>
                    <p style="margin-left:13px;">For each week of the season you will select a team that you think will win.<br>
                            You cannot choose the same team twice so choose wisely for each week.<br>
                            You lose once the team you chose to win loses their game that week.<br>
                            The last remaining member of the pool who still hasn't had a team lose wins the pool.</p>

                    <h3 style="margin-bottom:10px;">When Does This Pool Start?</h3>
                    {% if pool.nflsurvivorpool.start_week == 'wk1' %}
                        <font style="margin-left:13px;">{{ pool.nflsurvivorpool.season.start_date }} Eastern Time</font>
                    {% else %}
                        <font style="margin-left:13px;">{{ pool.nflsurvivorpool.season.start_date2 }}</font>
                    {% endif %}
                    <br><br>

                    {% if pool.nflsurvivorpool.entry_deadline != pool.nflsurvivorpool.season.start_date and pool.nflsurvivorpool.entry_deadline != pool.nflsurvivorpool.season.start_date2 %}
                        <h3 style="margin-bottom:10px;">What is the Entry Deadline?</h3>
                        <p style="margin-left:13px;">The last date that members may join this pool and create a pick sheet is on <b>{{ pool.nflsurvivorpool.entry_deadline }} Eastern Time</b>.</p>
                    {% endif %}

                    <h3 style="margin-bottom:10px;">How many Pick Sheets can I submit?</h3>
                    {% if pool.nflsurvivorpool.max_submissions == 1 %}
                        <p style="margin-left:13px;">Each member may submit one pick sheet.  Your pick sheet will hold all of your picks for the year. So when Week 2 comes around,
                        go back to your pick sheet and select a winner for Week 2.  You do not create a pick sheet for each week.  You use the same pick sheets throughout the year.</p>
                    {% else %}
                        <p style="margin-left:13px;">Each member can submit up to {{ pool.nflsurvivorpool.max_submissions }} pick sheets for the year.  So when Week 2 comes around,
                        go back to your pick sheets and select a winner for Week 2.  You do not create a pick sheet for each week.</p>
                    {% endif %}

                    <h3 style="margin-bottom:10px;">What's the Selection Process</h3>
                        {% if pool.nflsurvivorpool.selection_process == 'weekly' %}
                            <p style="margin-left:13px;">This Pool selected 'Week By Week'.  This means that you'll have until the start of a week to get in
                                your pick for that week.  So when the first game of the week starts, and you don't have a pick for that week, your pick sheet will
                                be eliminated.  <font style="font-weight:bold;">Remember, most weeks start on Thursday night.</font></p>
                        {% else %}
                            <p style="margin-left:13px;">This Pool selected 'All At Once'.  This means that you must fill out your entire pick sheet with who you think
                            is going to win each week of the season before your pool starts.  You will not have a chance to edit your picks once this pool has started.</p>
                        {% endif %}
                </div>
            </div>
{% endblock %}