{% extends "nflsurvivor/pool_home_core.html" %}
{% load oscars_tags %}
{% load nflsurvivor_tags %}
{% block body %}
        <title>Standings - {{ pool.name }} | Office Pool Hub</title>
        {% block headline %}
        <h2 style="font-family:Verdana, Geneva, sans-serif"><b>Standings</b></h2>
        {% endblock %}
            {% display_top_three %}
        <table class="span-17">
            <tr class="header">
                <th><b>Member</b></th>
                <th><b>Pick Sheet</b></th>
                <th><b># of Correct Picks</b></th>
                <th><b>Pick This Week</b></th>
                <th><b>Status</b></th>
            </tr>
        {% if picksheets %}
        {% for picksheet in picksheets %}
            <tr>
                <td><a href="{% url 'profile_stats' picksheet.member.id %}">{{ picksheet.member }}</a></td>
                <td>{{ picksheet.name }}</td>
                <td>{{ picksheet.total_points }}</td>
                <td>
                    {% get_attr picksheet pool.season.get_current_week as pick%}
                    {% if pick == None %}
                        Hidden
                    {% elif pick == "" %}
                        No Pick
                    {% else %}
                        {{ pick }}
                    {% endif %}
                </td>
                <td>
                    {% if picksheet.still_alive %}
                        <font style="color:green;"><b>ALIVE</b></font>
                    {% else %}
                        <font style="color:red;"><b>DEAD</b></font>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% else %}
            <tr>
               <td colspan=3>No pick sheets have been submitted yet</td>
            </tr>
        {% endif %}
        </table>
{% endblock %}