body {
    background: #EEE1D0;
}

#main-banner {
    background-color:#27282C;
    color:white;
    padding-top:50px;
    padding-bottom:15px;
}

#main-banner-text   {
    font-size:35px;
    text-shadow: 2px 2px 1px black;
    color:white;
}

#main-banner a:link, #main-banner a:visited {
    font-size: 14px;
    color:white;
    text-decoration:underline;
}


/* Navigation */
div.menu    {
    background-color:CC240A;
    font-size:16px !important;
    width:100%;
    white-space:nowrap;
}

div.submenu    {
    height:35px;
    background-color:#36393B;
    font-size:14px !important;
    width:100%;
    overflow:hidden;
    white-space:nowrap;
}
div.submenu    ul  li  a   {
    color:white;
    text-decoration:none;
    text-shadow: 0 0 3px black;
}
div.submenu    ul  li  a:hover {
    text-decoration:underline;
    color:white;
}
div.submenu    ul  li  {
    display:inline;
    float:left;
    padding-top:5px;
    margin-left:18px;
}

ul.errorlist li {
    color:red;
    list-style:none;
    font-weight:bold;
}

tr.header {
    background:#27282C;
    color:white;
    }

table
/*
.header-title {
    font-size:16px;
}

input.required, select.required {
    background-color: #FFDDDD;
}
*/


