{% extends "marchmadness/pool_home_core.html" %}
{% block head %}
    {{ block.super }}
    <style type="text/css">
    table {
      border-collapse: collapse;
      border: none;
      font: small arial, helvetica, sans-serif;
    }
    td {
      vertical-align: middle;
      text-align:center;
      width: 10em;
      margin: 0;
      padding: 0;
    }
    td p {
      margin: 0;
      padding: 0px 0px 0px 0px;
      cursor: pointer;
      font-size:10px;
    }

    td p:hover {
        font-weight:bold;
    }

    .bracket_field {
        cursor: pointer;
     }
     .bracket_field:hover {
        font-weight:bold;
     }
     input[type=text] {
        border:1px solid #a3a3a3;
     }
    </style>

    <script>
        {% if pool.allow_new_picksheets %}
        $(function(){
            var previous;

            $("p").live('click',function(){
                var team = $("#id_" + this.id).val();
                previous = $("#id_" + this.id).val();

                $("#id_" + this.id).val($(this).html());

                $('#id_' + this.id).trigger('change');
            });

            $("input[id^='id_B']").live('click',function(){
                $(this).blur();
                var num = parseInt($(this).attr('id').replace(/id_B/, ''),10);
                if(num % 2 === 1){
                    num = num + 1;
                }
                num = num / 2;
                previous = $("#id_C" + num.toString()).val();
                $("#id_C" + num.toString()).val($(this).val());
                $('#id_C' + num.toString()).trigger('change');
            }).keydown(function(){
                return false;
            });
            $("input[id^='id_B']").change(function(){
                var num = parseInt($(this).attr('id').replace(/id_B/, ''),10);
                if(num % 2 === 1){
                    num = num + 1;
                }
                num = num / 2;
                if($("#id_C" + num.toString()).val() != ''){
                    if($("#id_C" + num.toString()).val() == previous){
                        $("#id_C" + num.toString()).val($(this).val());

                        $("#id_C" + num.toString()).trigger('change');
                    }
                }

            });

            $("input[id^='id_C']").live('click',function(){
                $(this).blur();
                var num = parseInt($(this).attr('id').replace(/id_C/, ''),10);
                if(num % 2 === 1){
                    num = num + 1;
                }
                num = num / 2;

                previous =  $("#id_D" + num.toString()).val();
                $("#id_D" + num.toString()).val($(this).val());
                $('#id_D' + num.toString()).trigger('change');
            });
            $("input[id^='id_C']").change(function(){
                var num = parseInt($(this).attr('id').replace(/id_C/, ''),10);
                if(num % 2 === 1){
                    num = num + 1;
                }
                num = num / 2;
                if($("#id_D" + num.toString()).val() != ''){
                    if($("#id_D" + num.toString()).val() == previous){
                        $("#id_D" + num.toString()).val($(this).val());

                        $("#id_D" + num.toString()).trigger('change');
                    }
                }
            }).keydown(function(){
                return false;
            });

            $("input[id^='id_D']").live('click',function(){
                $(this).blur();
                var num = parseInt($(this).attr('id').replace(/id_D/, ''),10);
                if(num % 2 === 1){
                    num = num + 1;
                }
                num = num / 2;

                previous = $(".E" + num.toString()).val();;
                $(".E" + num.toString()).val($(this).val());
                $('.E' + num.toString()).trigger('change');
            }).change(function(){
                var num = parseInt($(this).attr('id').replace(/id_D/, ''),10);
                if(num % 2 === 1){
                    num = num + 1;
                }
                num = num / 2;
                if($("#id_E" + num.toString()).val() != ''){
                    if($("#id_E" + num.toString()).val() == previous){
                        $(".E" + num.toString()).val($(this).val());

                        $(".E" + num.toString()).trigger('change');
                    }
                }
            }).keydown(function(){
                return false;
            });

            $("input[class*='E']").live('click',function(){
                $(this).blur();
                var num = parseInt($(this).attr('id').replace(/id_E/, ''),10);
                if(num % 2 === 1){
                    num = num + 1;
                }
                num = num / 2;

                previous = $("#id_F" + num.toString()).val();;
                $("#id_F" + num.toString()).val($(this).val());
                $('#id_F' + num.toString()).trigger('change');
            }).change(function(){
                var num = parseInt($(this).attr('id').replace(/id_E/, ''),10);
                if(num % 2 === 1){
                    num = num + 1;
                }
                num = num / 2;
                if($("#id_F" + num.toString()).val() != ''){
                    if($("#id_F" + num.toString()).val() == previous){
                        $("#id_F" + num.toString()).val($(this).val());

                        $("#id_F" + num.toString()).trigger('change');
                    }
                }
            }).keydown(function(){
                return false;
            });


            $("input[id^='id_F']").live('click',function(){
                $(this).blur();
                $("#id_champ").val($(this).val());
            }).change(function(){

                if($("#id_champ").val() != ''){
                    if($("#id_champ").val() == previous){
                        $("#id_champ").val($(this).val());
                    }
                }
            }).keydown(function(){
                return false;
            });
            $("#id_champ").live('click',function(){
                $(this).blur();
            }).keydown(function(){
                return false;
            });
        });
        {% endif %}
    </script>

{% endblock %}
{% block body %}
        <form method="post">{% csrf_token %}
        {% if pool.allow_new_picksheets %}
            {{ form.name.label_tag }}
            {{ form.name }}
        {% else %}
            <h2>{{ bracket.name }}<small style="padding-left:10px;">bracket created by: {{ bracket.member }}</small></h2>
        {% endif %}
        <div class="span-24"></div>
            <h2 style="float:left;"style="float:left;">South</h2><h2 style="text-align:right;">West</h2>
            <table summary="Tournament Bracket" class="span-12" style="margin-left:-25px;float:left;">
             <tr>
                 <td style="text-align:center;"><u>Round of 64</u></td>
                 <td style="text-align:center;"><u>Round of 32</u></td>
                 <td style="text-align:center;"><u>Sweet 16</u></td>
                 <td style="text-align:center;"><u>Elite 8</u></td>
             </tr>
             <tr>
              <td><p id="B1">1. Kentucky</p></td>
              <td rowspan="2">{{ form.B1 }}</td>
              <td rowspan="4">{{ form.C1 }}</td>
              <td rowspan="8">{{ form.D1 }}</td>
             </tr>
             <tr>
              <td><p id="B1">16. Manh/Ham</p></td>
             </tr>
             <tr>
              <td style="padding-top:5px;"><p id="B2">8. Cincinnati</p></td>
              <td rowspan="2">{{ form.B2 }}</td>
             </tr>
             <tr>
              <td><p id="B2">9. Purdue</p></td>
             </tr>
             <tr>
              <td style="padding-top:5px;"><p id="B3">5. West Virginia</p></td>
              <td rowspan="2">{{ form.B3 }}</td>
              <td rowspan="4">{{ form.C2 }}</td>
             </tr>
             <tr>
              <td><p id="B3">12. Buffalo</p></td>
             </tr>
             <tr>
              <td style="padding-top:5px;"><p id="B4">4. Maryland</p></td>
              <td rowspan="2">{{ form.B4 }}</td>
             </tr>
             <tr>
              <td><p id="B4">13. Valparaiso</p></td>
             </tr>
             <tr>
              <td style="padding-top:5px;"><p id="B5">6. Butler</p></td>
              <td rowspan="2"><p>{{ form.B5 }}</p></td>
              <td rowspan="4"><p>{{ form.C3 }}</p></td>
              <td rowspan="8"><p>{{ form.D2 }}</p></td>
             </tr>
             <tr>
              <td><p id="B5">11. Texas</p></td>
             </tr>
             <tr>
              <td style="padding-top:10px;"><p id="B6">3. Notre Dame</p></td>
              <td rowspan="2"><p>{{ form.B6 }}</p></td>
             </tr>
             <tr>
              <td><p id="B6">14. Northeastern</p></td>
             </tr>
             <tr>
              <td style="padding-top:5px;"><p id="B7">7. Wichita St.</p></td>
              <td rowspan="2"><p>{{ form.B7 }}</p></td>
              <td rowspan="4"><p>{{ form.C4 }}</p></td>
             </tr>
             <tr>
              <td><p id="B7">10. Indiana</p></td>
             </tr>
             <tr>
              <td style="padding-top:5px;"><p id="B8">2. Kansas</p></td>
              <td rowspan="2"><p>{{ form.B8 }}</p></td>
             </tr>
             <tr>
              <td><p id="B8">15. N. Mex. St.</p></td>
             </tr>
            </table>

            <table summary="Tournament Bracket" class="span-12" style="margin-right:-25px;">
             <tr>
                 <td style="text-align:center;"><u>Elite 8</u></td>
                 <td style="text-align:center;"><u>Sweet 16</u></td>
                 <td style="text-align:center;"><u>Round of 32</u></td>
                 <td style="text-align:center;"><u>Round of 64</u></td>
             </tr>
             <tr>
                 <td rowspan="8">{{ form.D5 }}</td>
                 <td rowspan="4">{{ form.C9 }}</td>
                 <td rowspan="2">{{ form.B17 }}</td>
                 <td><p id="B17">1. Villanova</p></td>
             </tr>
             <tr>
              <td><p id="B17">16. Lafayette</p></td>
             </tr>
             <tr>
                 <td rowspan="2">{{ form.B18 }}</td>
                 <td style="padding-top:5px;"><p id="B18">8. N.C. State</p></td>
             </tr>
             <tr>
              <td><p id="B18">9. LSU</p></td>
             </tr>
             <tr>
                 <td rowspan="4">{{ form.C10 }}</td>
                 <td rowspan="2">{{ form.B19 }}</td>
                 <td style="padding-top:5px;"><p id="B19">5. Northern Iowa</p></td>
             </tr>
             <tr>
              <td><p id="B19">12. Wyoming</p></td>
             </tr>
             <tr>
                 <td rowspan="2">{{ form.B20 }}</td>
                 <td style="padding-top:5px;"><p id="B20">4. Louisville</p></td>
             </tr>
             <tr>
              <td><p id="B20">13. UC Irvine</p></td>
             </tr>
             <tr>
                 <td rowspan="8"><p>{{ form.D6 }}</p></td>
                 <td rowspan="4"><p>{{ form.C11 }}</p></td>
                 <td rowspan="2"><p>{{ form.B21 }}</p></td>
                 <td style="padding-top:5px;"><p id="B21">6. Providence</p></td>
             </tr>
             <tr>
              <td><p id="B21">11. BoSt/Dayt</p></td>
             </tr>
             <tr>
                 <td rowspan="2"><p>{{ form.B22 }}</p></td>
                 <td style="padding-top:5px;"><p id="B22">3. Oklahoma</p></td>
             </tr>
             <tr>
              <td><p id="B22">14. Albany</p></td>
             </tr>
             <tr>
                 <td rowspan="4"><p>{{ form.C12 }}</p></td>
                 <td rowspan="2"><p>{{ form.B23 }}</p></td>
                 <td style="padding-top:5px;"><p id="B23">7. Michigan St.</p></td>
             </tr>
             <tr>
              <td><p id="B23">10. Georgia</p></td>
             </tr>
             <tr>
                 <td rowspan="2"><p>{{ form.B24 }}</p></td>
                 <td style="padding-top:5px;"><p id="B24">2. Virginia</p></td>
             </tr>
             <tr>
                 <td><p id="B24">15. Belmont</p></td>
             </tr>
            </table>
        <table summary="Tournament Bracket" class="span-12" style="margin: 0px 220px;">
                <tr>
                    <td colspan="4" style="text-align:center;"><h2 style="text-align:center;">Final Four</h2></td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align:center;">{{ form.champ.label_tag }}<br style="margin-bottom:-10px">{{ form.champ }}</td>
                </tr>
                <tr>
                    <td>{{ form.E1 }}</td>
                    <td rowspan="2">{{ form.F1 }}</td>
                    <td rowspan="2">{{ form.F2 }}</td>
                    <td>{{ form.E3 }}</td>
                </tr>
                <tr>
                    <td>{{ form.E2 }}</td>
                    <td>{{ form.E4 }}</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:right;padding-right:5px">{{form.tie_breaker_score_1}}</td>
                    <td colspan="2" style="text-align:left;padding-left:5px;">{{form.tie_breaker_score_2}}</td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align:center;">Final Score Tie Breaker</td>
                </tr>
        </table>

        <hr>
        <h2 style="float:left;">East</h2><h2 style="text-align:right;">MidWest</h2>
        <table summary="Tournament Bracket" class="span-12" style="margin-left:-25px;float:left;">
         <tr>
                <td style="text-align:center;"><u>Round of 64</u></td>
                 <td style="text-align:center;"><u>Round of 32</u></td>
                 <td style="text-align:center;"><u>Sweet 16</u></td>
                 <td style="text-align:center;"><u>Elite 8</u></td>
         </tr>
         <tr>
          <td><p id="B9">1. Wisconsin</p></td>
          <td rowspan="2">{{ form.B9 }}</td>
          <td rowspan="4">{{ form.C5 }}</td>
          <td rowspan="8">{{ form.D3 }}</td>
         </tr>
         <tr>
          <td><p id="B9">16. Coastal Car.</p></td>
         </tr>
         <tr>
          <td style="padding-top:5px;"><p id="B10">8. Oregon</p></td>
          <td rowspan="2">{{ form.B10 }}</td>
         </tr>
         <tr>
          <td><p id="B10">9. Oklahoma St.</p></td>
         </tr>
         <tr>
          <td style="padding-top:5px;"><p id="B11">5. Arkansas</p></td>
          <td rowspan="2">{{ form.B11 }}</td>
          <td rowspan="4">{{ form.C6 }}</td>
         </tr>
         <tr>
          <td><p id="B11">12. Wofford</p></td>
         </tr>
         <tr>
          <td style="padding-top:5px;"><p id="B12">4. N. Carolina</p></td>
          <td rowspan="2">{{ form.B12 }}</td>
         </tr>
         <tr>
          <td><p id="B12">13. Harvard</p></td>
         </tr>
         <tr>
          <td style="padding-top:5px;"><p id="B13">6. Xavier</p></td>
          <td rowspan="2"><p>{{ form.B13 }}</p></td>
          <td rowspan="4"><p>{{ form.C7 }}</p></td>
          <td rowspan="8"><p>{{ form.D4 }}</p></td>
         </tr>
         <tr>
          <td><p id="B13">11. BYU/Miss</p></td>
         </tr>
         <tr>
          <td style="padding-top:5px;"><p id="B14">3. Baylor</p></td>
          <td rowspan="2"><p>{{ form.B14 }}</p></td>
         </tr>
         <tr>
          <td><p id="B14">14. Georgia St.</p></td>
         </tr>
         <tr>
          <td style="padding-top:5px;"><p id="B15">7. VCU</p></td>
          <td rowspan="2"><p>{{ form.B15 }}</p></td>
          <td rowspan="4"><p>{{ form.C8 }}</p></td>
         </tr>
         <tr>
          <td><p id="B15">10. Ohio St.</p></td>
         </tr>
         <tr>
          <td style="padding-top:5px;"><p id="B16">2. Arizona</p></td>
          <td rowspan="2"><p>{{ form.B16 }}</p></td>
         </tr>
         <tr>
          <td><p id="B16">15. Texas Southern</p></td>
         </tr>
        </table>

        <table summary="Tournament Bracket" class="span-12" style="margin-right:-25px;">
        <tr>
                 <td style="text-align:center;"><u>Elite 8</u></td>
                 <td style="text-align:center;"><u>Sweet 16</u></td>
                 <td style="text-align:center;"><u>Round of 32</u></td>
                 <td style="text-align:center;"><u>Round of 64</u></td>
         </tr>
        <tr>
            <td rowspan="8">{{ form.D7 }}</td>
            <td rowspan="4">{{ form.C13 }}</td>
            <td rowspan="2">{{ form.B25 }}</td>
            <td><p id="B25">1. Duke</p></td>
         </tr>
         <tr>
            <td><p id="B25">16. NFL/RMU</p></td>
         </tr>
         <tr>
            <td rowspan="2">{{ form.B26 }}</td>
            <td style="padding-top:5px;"><p id="B26">8. S. Diego St.</p></td>
         </tr>
         <tr>
          <td><p id="B26">9. St. John's</p></td>
         </tr>
         <tr>
             <td rowspan="4">{{ form.C14 }}</td>
             <td rowspan="2">{{ form.B27 }}</td>
             <td style="padding-top:5px;"><p id="B27">5. Utah</p></td>
         </tr>
         <tr>
          <td><p id="B27">12. S.F. Austin</p></td>
         </tr>
         <tr>
             <td rowspan="2">{{ form.B28 }}</td>
             <td style="padding-top:5px;"><p id="B28">4. Georgetown</p></td>
         </tr>
         <tr>
          <td><p id="B28">13. Eastern Wash.</p></td>
         </tr>
         <tr>
             <td rowspan="8"><p>{{ form.D8 }}</p></td>
             <td rowspan="4"><p>{{ form.C15 }}</p></td>
             <td rowspan="2"><p>{{ form.B29 }}</p></td>
             <td style="padding-top:5px;"><p id="B29">6. SMU</p></td>
         </tr>
         <tr>
          <td><p id="B29">11. UCLA</p></td>
         </tr>
         <tr>
             <td rowspan="2"><p>{{ form.B30 }}</p></td>
             <td style="padding-top:5px;"><p id="B30">3. Iowa St.</p></td>
         </tr>
         <tr>
          <td><p id="B30">14. UAB</p></td>
         </tr>
         <tr>
             <td rowspan="4"><p>{{ form.C16 }}</p></td>
             <td rowspan="2"><p>{{ form.B31 }}</p></td>
             <td style="padding-top:5px;"><p id="B31">7. Iowa</p></td>
         </tr>
         <tr>
          <td><p id="B31">10. Davidson</p></td>
         </tr>
         <tr>
             <td rowspan="2"><p>{{ form.B32 }}</p></td>
             <td style="padding-top:5px;"><p id="B32">2. Gonzaga</p></td>
         </tr>
         <tr>
          <td><p id="B32">15. N. Dak. St.</p></td>
         </tr>
        </table>
        <hr>
        <div>
        {% if pool.allow_new_picksheets %}
            {% if user = form.instance.member or not form.instance.id %}
                <input class="submit" type="submit" name="submit" value="Save Bracket" />
                {% if form.instance.id %}
                <input class="submit delete" type="submit" name="delete" id="delete" value="Delete Bracket" />
                {% endif %}
            {% endif %}
        {% endif %}
        </div>
        </form>
        <script>
            {% if not pool.allow_new_picksheets %}
            $("input").live('click',function(){
                $(this).blur();
            }).keydown(function(){
                return false;
            });
            {% endif %}
        </script>
{% endblock %}