{% extends 'marchmadness/pool_home_core.html' %}
{% block head %}
{{ block.super }}
    <script>

        $(function(){
            $("#all_brackets").css("border-bottom","5px solid black");
            $(".your-brackets-single").hide();
            $(".all-brackets-single").show();

            $("#all_brackets").click(function(){
                $(this).css("border-bottom","5px solid black");
                $("#your_brackets").css("border-bottom","none");
                $(".your-brackets-single").hide();
                $(".all-brackets-single").show();
            });
            $("#your_brackets").click(function(){
                $(this).css("border-bottom","5px solid black");
                $("#all_brackets").css("border-bottom","none");
                $(".your-brackets-single").show();
                $(".all-brackets-single").hide();
            });
        });
    </script>
{% endblock %}
{% block body %}
        <title>Brackets - {{ pool.name }} | Office Pool Hub</title>
        <h2 id="all_brackets" style="display:inline;cursor:pointer;font-family:Verdana, Geneva, sans-serif;"><b>All Brackets</b></h2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <h2 id="your_brackets" style="display:inline;cursor:pointer;font-family:Verdana, Geneva, sans-serif;"><b>Your brackets</b></h2>
        <div style="margin-top:15px;width:70%;"></div>
        {% if allow_new_picksheets %}
            <form action="{% url 'marchmadness_bracket_create' pool.id %}" method="GET">{% csrf_token %}
                <input type="submit" value="Fill Out a Bracket" /> - You have until {{ pool.entry_deadline }} to submit or make changes to your brackets.
            </form>
        {% else %}
            No new brackets allowed. {% if teams %}Either the Entry Deadline has past or you have reached the max amount of entries.{% else %}<br>{% endif %}
        {% endif %}
        <table class="span-15">
            <tr class="header">
                <th style="border-bottom:1px solid black;"><b>Member</b></th>
                <th style="border-bottom:1px solid black;"><b>Bracket</b></th>
                <th><b>Predicted Champion</b></th>
                {% if user == pool.administrator %}
                    <th></th>
                {% endif %}
            </tr>
        {% if brackets %}
            <div id="all-brackets-list">
            {% for bracket in brackets %}
                <tr class="all-brackets-single">
                    <td class="span-4"><a href="{% url 'profile_stats' bracket.member.id %}">{{ bracket.member }}</a></td>
                    <td class="span-4">
                        {% if pool.allow_new_picksheets %}
                            {{ bracket.name }}
                        {% else %}
                            <a href="{{ bracket.get_absolute_url }}">{{ bracket.name }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if pool.allow_new_picksheets %}
                            ???
                        {% else %}
                            {{bracket.champ}}
                        {% endif %}
                    </td>
                    {% if user == pool.administrator %}
                        <td><a href="{% url 'marchmadness_remove_bracket' pool.id bracket.id %}">Remove</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </div>
            <div id="your-brackets-list">
                {% if your_brackets %}
                    {% for bracket in your_brackets %}
                        <tr class="your-brackets-single">
                            <td class="span-4"><a href="{% url 'profile_stats' bracket.member.id %}">{{ bracket.member }}</a></td>
                            <td class="span-4"><a href="{{ bracket.get_absolute_url }}">{{ bracket.name }}</a></td>
                            <td>
                                {{bracket.champ}}
                            </td>
                            {% if user == pool.administrator %}
                                <td><a href="{% url 'marchmadness_remove_bracket' pool.id bracket.id %}">Remove</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="your-brackets-single">
                        <td>You haven't created any brackets yet.</td>
                    </tr>
                {% endif %}
            </div>
            </table>
        {% else %}
            <tr>
               <td colspan=3>No brackets have been submitted yet</td>
            </tr>
            </table>
        {% endif %}
{% endblock %}