<h3>How do I start a March Madness Office Pool?</h3>
<h4>To create a March Madness Office Pool, hover your mouse over the "Create a Pool" link in the Main menu and select "Create March madness Pool" or
    or go to <a href="{% url 'create_march_madness_pool' %}">Create March Madness Pool</a>.</h4>
<hr>

<h3>How do I join a Pool?</h3>
<h4>To join a pool click on the "Join a Pool" link in the main menu above.  Here you can join Public Pools or if you know the pool id of a
    pool you'd like to join, you can enter it into the form.(a password may be required to enter pools that are private)</h4>
<hr>

<h3>how do I know who is winning the Pool</h3>
<h4>When within your pool there is a link titled "Standings" at the top. If you click this you will see where everyone within the pool is currently ranked.</h4>
<hr>

<h3>How does the Tie Breaker work?</h3>
<h4>If two brackets are tied at the end of the tournament, the bracket that is closest to guessing the final score of the championship game will
move ahead of those that they are tied with.  The tie breaker will be used anywhere that two brackets are tied and not just to see who gets first place.</h4>