{% extends "panel_core.html" %}
{% block body %}
        <title>March Madness Office Pools | Office Pool Hub</title>
        <h2 style="font-family:Verdana, Geneva, sans-serif"><b>March Madness Office Pools: Getting Started</b></h2>
        <h3><b>How it works:</b></h3>
        <p style="width:70%;">Users can create and join March Madness Pools with their friends and/or co-workers.  Before the tournament starts,
            each member will fill out brackets where they will predict the winners of each round of the tournament.
        </p>

        <h3><b>Scoring Systems</b></h3>
        <p>There are a couple of scoring systems that you can choose from.</p>

        <p>The most popular is the <b>Default</b> scoring system where each round doubles the points with each win: 1,2,4,8,16,32</p>
        <p>There is also the <b>Slow Build</b> scoring system that is similar to the Default but the later rounds aren't weighed as heavilty: 1,2,3,4,6,10</p>
        <p>For those that just want to see who can predict the most, <b>Flat</b> gives one point for each win no matter where it is: 1,1,1,1,1,1</p>
        <p>Lastly, if none of these work for you, you can create your own with <b>Custom</b>!</p>

        <h3><b>How to Win:</b></h3>
        <p>Have the bracket with the most points at the end of the tournament</p>
        <p style="width:70%;">Throughout the tournament, game results will come in as each game is played.  If you guessed that a team would
            win over another team you get a point.  Usually you will gain more points the further you correctly guess a team would win(this depends on pool settings).
            </p>
        <p style="width:70%;">
            So using the default settings, if you correctly guess that Duke would win its first game, and they do, you get one point, if you correctly
            guess that Duke would win the championship, and they do, you get 32 points.  The pool member whose bracket
            accumulated the most points by the end of the tournament wins!
        </p>


        <h3><b>Thats It!</b></h3>
        <p style="width:70%;">Now go create a March Madness Pool and let us do all the hard work for you!  Hurry up, the tournament starts on Mar 17th!</p>

        <form method="GET" action="{% url 'create_march_madness_pool' %}" style="float:left;">{% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Create a Pool Now!"/>
        </form>
        <form method="GET" action="{% url 'marchmadness_public_pools' %}">{% csrf_token %}
            &nbsp&nbsp or <input type="submit" class="btn btn-danger" style="margin-left:10px;" value="Join a Public Pool!"/>
        </form>
{% endblock %}