{% extends "panel_core.html" %}
{% block head %}
{{ block.super }}
    <script>
        $(function(){

        if ($("input#id_public").prop('checked')) {
                $("#row_password").hide();
            } else {
                $("#row_password").show();
            }

        $("input#id_public").click(function(){
             if ($("input#id_public").prop('checked')) {
                $("#row_password").hide();
            } else {
                $("#row_password").show();
            }
        });

        });
    </script>
{% endblock %}
{% block menu %}
    {{ block.super }}
    {% if pool %}
    <div class="submenu" style="overflow:visible;width:950px;height:52px; margin:-21 auto;">
            <ul>
                <li><a href="{{ pool.get_absolute_url }}">Pool Home</a></li>
                <li><a href="{% url 'marchmadness_member_brackets' pool.id %}">Brackets</a></li>
                <li><a href="{% url 'marchmadness_standings' pool.id %}">Standings</a></li>
                <li><a href="{% url 'marchmadness_members' pool.id %}">Members</a></li>
                {% if user == pool.administrator %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="color:orange;" href="" role="button">
                        Admin<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'marchmadness_pool' pool.id %}">Settings</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="{% url 'marchmadness_email_members' pool.id %}">Email members</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
{% block body %}
        {% if pool %}
            <title>Settings - {{ pool.name }} | Office Pool Hub</title>
            <h2 style="font-family:Verdana, Geneva, sans-serif;"><b>{{ pool.name }} Settings</b></h2>
            <h4>You will not be able to edit the pool settings once the tournament has started</h4>
        {% else %}
            <title>Create March Madness Pool | Office Pool Hub</title>
            <h2>Create a March Madness pool</h2>
        {% endif %}
        {% if pool and pool.is_past_due %}
        <table class="span-18">
        <tr>
            <td class="span-3">{{ form.name.label_tag }}</td>
            <td class="span-6">{{ form.name.value }}</td>
            <td>{{ form.name.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.public.label_tag }}</td>
            <td>{{ form.public.value }}</td>
            <td>{{ form.public.help_text }}</td>
        </tr>
        {% if form.public.value == False %}
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password.value }}</td>
            <td>{{ form.password.help_text }}</td>
            <td>{{ form.password.errors }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>{{ form.entry_deadline.label_tag }}</td>
            <td>{{ form.entry_deadline.value }}<br>
                All time is in EST</td>
            <td>{{ form.entry_deadline.help_text }} Tournament starts on {{ season.date }}</td>
            <td>{{ form.entry_deadline.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.max_submissions.label_tag }}</td>
            <td>{{ form.max_submissions.value }}</td>
            <td>{{ form.max_submissions.help_text }}</td>
        </tr>
       </table>
        <div class="span-18">
        <h3>Scoring System</h3>
        <h4 class="span-12">Points are awarded for each win in a round.  The scoring system for this pool is the following:</h4>

        <table class="span-6" style="margin-bottom:5px;">
            <tr>
                <td>{{ form.round_1.label_tag }}</td>
                <td  name="round_field">{{ form.round_1.value }}</td>
                <td>{{ form.round_1.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.round_2.label_tag }}</td>
                <td name="round_field">{{ form.round_2.value }}</td>
                <td>{{ form.round_2.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.round_3.label_tag }}</td>
                <td name="round_field">{{ form.round_3.value }}</td>
                <td>{{ form.round_3.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.round_4.label_tag }}</td>
                <td name="round_field">{{ form.round_4.value }}</td>
                <td>{{ form.round_4.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.round_5.label_tag }}</td>
                <td name="round_field">{{ form.round_5.value }}</td>
                <td>{{ form.round_5.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.round_6.label_tag }}</td>
                <td name="round_field">{{ form.round_6.value }}</td>
                <td>{{ form.round_6.errors }}</td>
            </tr>
        </table>


        </div>
{% else %}
<form method="POST">{% csrf_token %}
    <table>
        <tr>
            <td class="span-3">{{ form.name.label_tag }}</td>
            <td class="span-6">{{ form.name }}</td>
            <td>{{ form.name.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.public.label_tag }}</td>
            <td>{{ form.public }}</td>
            <td>{{ form.public.help_text }}</td>
        </tr>
        <tr id="row_password">
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
            <td>{{ form.password.help_text }}</td>
            <td>{{ form.password.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.entry_deadline.label_tag }}</td>
            <td>{{ form.entry_deadline }}<br>
                All time is in EST</td>
            <td>{{ form.entry_deadline.help_text }} Tournament starts on {{ season.start_date }}</td>
            <td>{{ form.entry_deadline.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.max_members.label_tag }}</td>
            <td>{{ form.max_members }}</td>
            <td>{{ form.max_members.help_text }}</td>
            <td>{{ form.max_members.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.max_submissions.label_tag }}</td>
            <td>{{ form.max_submissions }}</td>
            <td>{{ form.max_submissions.help_text }}</td>
            <td>{{ form.max_submissions.errors }}</td>
        </tr>
       </table>
        <h3>Scoring System</h3>
        <h4 class="span-12">Points are awarded for each win in a round.  Assign your own points or select a popular point system below.</h4>
        <div class="span-24">
            {{ form.scoring_system.label_tag }}
            {{ form.scoring_system }}
            <p id="score_description" style="display:inline;margin-left:10px;"></p>
        </div>
        <div>

        </div>

        <table class="span-6" style="margin-bottom:5px;">
            <tr>
                <td>{{ form.round_1.label_tag }}</td>
                <td  name="round_field">{{ form.round_1 }}</td>
                <td  name="round_1_val"></td>
                <td>{{ form.round_1.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.round_2.label_tag }}</td>
                <td name="round_field">{{ form.round_2 }}</td>
                <td name="round_2_val"></td>
                <td>{{ form.round_2.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.round_3.label_tag }}</td>
                <td name="round_field">{{ form.round_3 }}</td>
                <td name="round_3_val"></td>
                <td>{{ form.round_3.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.round_4.label_tag }}</td>
                <td name="round_field">{{ form.round_4 }}</td>
                <td name="round_4_val"></td>
                <td>{{ form.round_4.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.round_5.label_tag }}</td>
                <td name="round_field">{{ form.round_5 }}</td>
                <td name="round_5_val"></td>
                <td>{{ form.round_5.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.round_6.label_tag }}</td>
                <td name="round_field">{{ form.round_6 }}</td>
                <td name="round_6_val" ></td>
                <td>{{ form.round_6.errors }}</td>
            </tr>
        </table>

        <div class="span-24" style="margin-top:15px;">
        <input class="submit" type="submit" name="submit" value="{% if pool %}Save{% else %}Create Pool{% endif %}" />
        {% if form.instance.id %}
        <input class="submit delete" type="submit" name="delete" id="delete" value="Delete Pool" />
        {% endif %}
    </div>
</form>
        <script>

            function defaultSystem(){
                $("p#score_description").html('This system is used by most people.  Puts heavy weight on the later rounds.');
                $("td[name='round_1_val']").html('1');
                $("td[name='round_2_val']").html('2');
                $("td[name='round_3_val']").html('4');
                $("td[name='round_4_val']").html('8');
                $("td[name='round_5_val']").html('16');
                $("td[name='round_6_val']").html('32');
            };
            function flatSystem(){
                $("p#score_description").html('The bracket that correctly guess the most winners, wins.');
                $("td[name='round_1_val']").html('1');
                $("td[name='round_2_val']").html('1');
                $("td[name='round_3_val']").html('1');
                $("td[name='round_4_val']").html('1');
                $("td[name='round_5_val']").html('1');
                $("td[name='round_6_val']").html('1');
            };
            function slowbuildSystem(){
                $("p#score_description").html("Similar to the Default scoring system but the later rounds aren't weighted as heavily but are still important.");
                $("td[name='round_1_val']").html('1');
                $("td[name='round_2_val']").html('2');
                $("td[name='round_3_val']").html('3');
                $("td[name='round_4_val']").html('4');
                $("td[name='round_5_val']").html('6');
                $("td[name='round_6_val']").html('10');
            };

            function showVals(){
                $("td[name*='val']").show()
                $("[name='round_field']").hide();
            };

            function showFields(){
                $("p#score_description").html('Make up your own point system!');
                $("[name='round_field']").show();
                $("td[name*='val']").hide();
            };

            if($("#id_scoring_system").val() === 'custom'){
                showFields();
            }
            else if($("#id_scoring_system").val() === 'default'){
                showVals();
                defaultSystem();
            }
            else if($("#id_scoring_system").val() === 'flat'){
                showVals();
                flatSystem();
            }
            else if($("#id_scoring_system").val() === 'slow_build'){
                showVals();
                slowbuildSystem();
            }

            $("#id_scoring_system").change(function(){

                if($("#id_scoring_system").val() === 'custom'){
                    showFields();
                } else if ($("#id_scoring_system").val() === 'default'){
                    showVals();
                    defaultSystem();
                } else if ($("#id_scoring_system").val() === 'flat'){
                    showVals();
                    flatSystem();
                } else if ($("#id_scoring_system").val() === 'slow_build'){
                    showVals();
                    slowbuildSystem();
                }

            });

        </script>
{% endif %}
{% endblock %}