{% extends 'marchmadness/pool_home_core.html' %}
{% load oscars_tags %}
{% block body %}
        <title>{{ pool.name }} | Office Pool Hub</title>
        <h2 style="font-family:Verdana, Geneva, sans-serif"><b>{{ pool.name}} home page</b></h2>
        <h3 class="span-9"><b>Administrator Welcome Message:</b>{% if user == pool.administrator %}&nbsp<a href="{% url 'marchmadness_admin_message' pool.id %}" style="font-size:12px;">edit</a>{% endif %}</h3><br><br>
        <div style="margin-left:13px;">
        {{ pool.admin_note|safe }}
        </div>
        <br>
            <div>
            <h3><b>Pool Format:</b></h3>
                <div style="margin-left:13px;">
                    <h3 style="margin-bottom:10px;">When Does The Tournament Start?</h3>
                    <font style="margin-left:13px;">{{ pool.marchmadnesspool.season.start_date }}</font>
                    <br><br>
                    <h3 style="margin-bottom:10px;">How to Play:</h3>
                    <font style="margin-left:13px;">Each member of the pool tries to predict how the March madness tournament will unfold.  A bracket gets points
                    with each correct guess.  The pool member with the bracket that has the highest points when it's all said and done wins!</font>
                    <br><br>
                    <h3 style="margin-bottom:10px;">Scoring System:</h3>
                    <b>Round 1:</b>&nbsp&nbsp&nbsp&nbsp{{pool.marchmadnesspool.round_1}}<br>
                    <b>Round 2:</b>&nbsp&nbsp&nbsp&nbsp{{pool.marchmadnesspool.round_2}}<br>
                    <b>Round 3:</b>&nbsp&nbsp&nbsp&nbsp{{pool.marchmadnesspool.round_3}}<br>
                    <b>Round 4:</b>&nbsp&nbsp&nbsp&nbsp{{pool.marchmadnesspool.round_4}}<br>
                    <b>Round 5:</b>&nbsp&nbsp&nbsp&nbsp{{pool.marchmadnesspool.round_5}}<br>
                    <b>Round 6:</b>&nbsp&nbsp&nbsp&nbsp{{pool.marchmadnesspool.round_6}}<br>
                </div>
            </div>
{% endblock %}