{% extends "panel_core.html" %}
{% block body %}
<title>Join a Pool | Office Pool Hub</title>
<div class="span-12" style="border-right:1px solid;">
<h3>Join a Specific Pool <div class="fb-share-button" data-href="http://www.officepoolhub.com/pool/join/"></div></h3>
    <h4>Provide the Pool ID and Pool Password for the Pool you'd like to join.<br>Password is not required if the Pool is public.</h4>
    <form action="" method="post">{% csrf_token %}
        <table class="span-7">
            <tr>
                <td class="span-3">{{ form.pool_id.label_tag }}</td>
                <td class="span-4">{{ form.pool_id }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td>
                    <input class="submit" type="submit" name="submit" value="Join Pool" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="span-10">
<h3>Join a Public Pool</h3>
    <h4>Click one of the links below to Join a Public Pool</h4>
    <form method="GET" action="{% url 'nflsurvivor_public_pools' %}">{% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Join an NFL Survivor Pool"/>
    </form>
    <br>
    <form method="GET" action="{% url 'survivor_public_pools' %}">{% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Join a Survivor Pool"/>
    </form>
    <br>
    <form method="GET" action="{% url 'amazingrace_public_pools' %}">{% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Join an Amazing Race Pool"/>
    </form>
    <br>
    <form method="GET" action="{% url 'oscar_public_pools' %}">{% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Join an Oscar Pool"/>
    </form>
</div>
{% endblock %}