<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <link href="{{ STATIC_URL }}img/favicon.ico" rel="icon" type="image/x-icon" />
        {% block head %}
          <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
          <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
          <script type="text/javascript" src="{{ STATIC_URL }}js/maskedinput.js"></script>
          <script type="text/javascript" src="{{ STATIC_URL }}js/functions.js"></script>
          <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
          <!-- bootstrap -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
          <!-- end bootstrap -->
          <link rel="stylesheet" href="{{ STATIC_URL }}css/base/base.css">
          <script
          src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.js">
          </script>
          {% block page-css-links %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/base/home.css">
          {% endblock %}
        {% endblock %}
        {{ form.media }}

        <!--[if IE]><link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/lib/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <script>
            jQuery(function($){
               $(".date").mask("99/99/9999");
            });

            $(function() {
                $( ".date_picker" ).datepicker({
                     changeMonth: true,
                     changeYear: true
                });
            });
        </script>
        <!-- GoogleAnalytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-59316800-1', 'auto');
          ga('send', 'pageview');

        </script>
        <script>

        $(window).scroll(function () {
          //$('#navbarPool').width($('#content').width());
          //$('#navcollapse').width($('#content').width());
          //$('#divpool').width($('#content').width());
        });

        </script>
    </head>
    <body>
      		<div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>
          <header>
              <div id="header">
                <div class="container" style="position:relative;">
                  <div id="userBanner" class="hidden-xs">
                      {% if not user.is_anonymous %}
                      <div>
                        Hi {{ user }}<br>
                        <a href="">Profile</a> - <a href="{% url 'logout_user' %}">Logout</a>
                      </div>
                      {% else %}
                      <div id="notLoggedIn">
                        <a href="{% url 'django.contrib.auth.views.login' %}">Log in</a> |
                        <a href="{% url 'registration_register' %}">Sign up</a>
                      </div>
                      {% endif %}
                  </div>
                  <div id="banner">OscarPoolHub.com</div>
                </div>
              </div>
              <nav id="navbarMain" class="navbar navbar-default " data-spy="affix" data-offset-top="120">
                  <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <p id="siteBrand" class="navbar-brand hidden">OscarPoolHub.com</p>
                      <p id="primaryNavbarBrand" class="navbar-brand visible-xs">Main Menu</p>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" style="margin:0px;" id="navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li id="homeLink"><a href="{% url 'root' %}">Home <span class="sr-only">(current)</span></a></li>
                        {% if not user.is_anonymous %}
                          <li id="yourPools"><a href="{% url 'your_pools' %}">Your Pools</a></li>
                        {% endif %}
                        <li id="createPool"><a href="{% url 'create_oscar_pool' %}">Create a Pool</a></li>
                        <li id="joinPool"><a href="{% url 'join_pool' %}">Join a Pool</a></li>
                        <li id="faq"><a href="{% url 'faq' %}">FAQ</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right visible-xs">
                        <li role="separator" class="divider"></li>
                        {% if not user.is_anonymous %}
                          <p class="navbar-text navbar-right">Signed in as {{ user }}</p>
                          <li><a href="{% url 'logout_user' %}">Log Out</a></li>
                          <li><a href="#">Profile</a></li>
                        {% else %}
                          <li><a href="{% url 'django.contrib.auth.views.login' %}">Log in</a></li>
                          <li><a href="{% url 'registration_register' %}">Sign up</a></li>
                        {% endif %}
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
                  {% block pool_menu %}
                  {% endblock %}
            </header>

            <div id="content" class="container">
              {% include 'messages.html' %}
              {% block body %}
              <div class="row">
                <div class="col-md-12">
                  <h2 class="headliner">Your premiere destination for easy Oscar pool management.</h2>
                </div>
              </div>
              <div class="row">
                <article class="col-md-4 col-sm-4 padding-10">
                  <div class="panel panel-custom">
                      <div class="panel-heading">
                        <h3 class="panel-title">Fun to Play</h3>
                      </div>
                      <div class="panel-body">
                        Oscar Pools instantly makes the Academy Awards way more fun to watch!</br></br>
                        Your friends or co-workers will compete to see who can guess the winners at this year's Oscars!
                      </div>
                  </div>
                </article>
                <article class="col-md-4 col-sm-4 padding-10">
                  <div class="panel panel-custom">
                      <div class="panel-heading">
                        <h3 class="panel-title">Easy Setup</h3>
                      </div>
                      <div class="panel-body">
                        Creating and managing an Oscar Pool has never been easier.</br></br>
                        All you need to do see create a pool, invite some friends, and let us do all the scoring for you.
                      </div>
                  </div>
                </article>
                <article class="col-md-4 col-sm-4 padding-10">
                  <div class="panel panel-custom">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          Mobile Ready
                        </h3>
                      </div>
                      <div class="panel-body">
                        Our site was designed with desktop and mobile devices in mind.</br></br>
                        Easily access and manage your pools on all of your devices, wherever you are.
                      </div>
                  </div>
                </article>
              </div>
              {% endblock %}
            </div>
            {% block footer %}
            <footer class="row container">
                <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 seperator"></div>
                <div id="content" class="col-md-12">
                  OfficePoolHub.com is in no way affiliated with any of the shows on this site nor with the networks that they air on.
                  <br>
                  OfficePoolHub is NOT a gambling site. Any pools used for gambling will be terminated.
                </div>
            </footer>
            {% endblock %}
            {% block active_tab %}
              <script>$('li#homeLink').addClass('active')</script>
            {% endblock %}
    </body>
</html>
