{% extends 'panel_core.html' %}
{% block body %}

{% if not profile %}
    <title>Sign Up | Office Pool Hub</title>
    <h3>Sign Up</h3>
{% endif %}
<form method="post" class="span-17">{% csrf_token %}
    {% if profile %}
        <title>{{ profile.user }} - information | Office Pool Hub</title>
        <font style="font-size:2em;"><b>{{ profile.user }}<b></b></font><br><br>
    {% else %}
        <h2>Last step! Finish filling out your profile!</h2>
    {% endif %}

    <h3>Basic information</h3>
    <table>
        <tr>
            <td class="span-5">{{ form.first_name.label_tag }}</td>
            <td>{{ form.first_name }}{{ form.first_name.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.last_name.label_tag }}</td>
            <td>{{ form.last_name }}{{ form.last_name.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.zip.label_tag }}</td>
            <td>{{ form.zip }}{{ form.zip.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.show_email.label_tag }}</td>
            <td>{{ form.show_email }}</td>
        </tr>
        <tr>
            <td>{{ form.receive_newsletter.label_tag }}</td>
            <td><div style="float:left;">{{ form.receive_newsletter }}</div><div style="padding-left:20px;">{{ form.receive_newsletter.help_text }}</div></td>
        </tr>
        <tr>
            <td>{{ form.agree_to_terms.label_tag }}{{ form.agree_to_terms.errors }}</td>
            <td><div style="float:left;">{{ form.agree_to_terms }}</div><div style="padding-left:20px;">{{ form.agree_to_terms.help_text }}</div></td>
        </tr>
    </table>
    <h3>Bonus Information</h3>
    <table>
        <tr>
            <td>{{ form.phone.label }}</td>
            <td>{{ form.phone }}</td>
            <td>{{ form.phone.errors }}</td>
        </tr>
        <tr>
            <td class="span-5">{{ form.birth_date.label }}</td>
            <td>{{ form.birth_date }}</td>
            <td>{{ form.birth_date.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.gender.label }}</td>
            <td>{{ form.gender }}</td>
            <td>{{ form.gender.errors }}</td>
        </tr>
    </table>
    <div>
        <input class="submit" type="submit" name="submit" value="Submit" />
    </div>
</form>
{% endblock %}