{% extends "survivor/pool_home_core.html" %}
{% block head %}
{{ block.super }}
    <script>
        $(function(){
            $("input:checked").each(function(){
                $("label[for='" + this.id + "']").find('img').css("border", "solid 4px #CC240A");
            });

            $("input[type='checkbox']").click(function(){
                if(this.checked){
                    $("label[for='" + this.id + "']").find('img').css("border", "solid 4px #CC240A");
                }
                else{
                    $("label[for='" + this.id + "']").find('img').css("border", "");
                }
                });
        });
    </script>
{% endblock %}
{% block body %}
<form method="post" >{% csrf_token %}
    {% if picksheet %}
        <h2>{{ picksheet.name }}<small style="padding-left:10px;">pick sheet created by: {{ picksheet.member }}</small></h2>
    {% else %}
        <h2>Fill out your Pick Sheet!</h2>
    {% endif %}
    {% if pool.allow_new_picksheets %}
    <div class="span-15" style="font-size:15px;">
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    {% endif %}
    <hr>
    <label>Pick 4 castaways.  You cannot choose the same combination as someone else:</label>
    <div style="float:right;width:25%;">
        <label><u>Combinations already taken</u></label>
        {% for list in combinations_list %}

            {% for castaway in list %}
                {{ castaway }}
                {% if not forloop.last %}
                -
                {% endif %}
            {% endfor %}
            <br>
        {% endfor %}
    </div>
    <div class="span-17">
    <table>
        <font style="font-size:15px">{{ form.four_picks.errors }}</font>
        <tr>
        {% for pk,choice in form.four_picks.field.widget.choices %}
            <td style="text-align:center;padding-bottom:15px;">
                <label for="id_four_picks_{{ forloop.counter0 }}">
                    {{ choice }}<br>
                    <img src="{{ STATIC_URL }}img/{{ pool.season.name }}/{{ choice }}.jpg"><br>
                    <input id="id_four_picks_{{ forloop.counter0 }}" type="checkbox" value="{{ pk }}" name="four_picks"
                    {% if pk in form.initial.four_picks %}checked{% endif %}
                    {% if not pool.allow_new_picksheets %}disabled{% endif %}>
                </label>
            </td>
            {% if not forloop.last and forloop.counter|divisibleby:"4" %}
                </tr>
                <tr>
            {% endif %}
        {% endfor %}
            </tr>
    </table>
        </div>
    <hr>
    <div>
        {% if pool.allow_new_picksheets %}
            {% if user = ballot_form.instance.member or not ballot_form.instance.id %}
                <input class="submit" type="submit" name="submit" value="Save Pick Sheet" />
                {% if ballot_form.instance.id %}
                <input class="submit delete" type="submit" name="delete" id="delete" value="Delete Ballot" />
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</form>
{% endblock %}