{% extends 'survivor/pool_home_core.html' %}
{% block head %}
{{ block.super }}
    <script type="text/javascript">
        document.getElementById("all_picks").style.textDecoration="underline";
    </script>
    <script>
        $(function(){
            $("#all_picksheets").css("border-bottom","5px solid black");
            $(".your-picksheets-single").hide();
            $(".all-picksheets-single").show();

            $("#all_picksheets").click(function(){
                $(this).css("border-bottom","5px solid black");
                $("#your_picksheets").css("border-bottom","none");
                $(".your-picksheets-single").hide();
                $(".all-picksheets-single").show();
            });
            $("#your_picksheets").click(function(){
                $(this).css("border-bottom","5px solid black");
                $("#all_picksheets").css("border-bottom","none");
                $(".your-picksheets-single").show();
                $(".all-picksheets-single").hide();
            });
        });
    </script>
{% endblock %}
{% block body %}
        <title>Pick Sheets - {{ pool.name }} | Office Pool Hub</title>
        <h2 id="all_picksheets" style="display:inline;cursor:pointer;font-family:Verdana, Geneva, sans-serif;"><b>All Pick sheets</b></h2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <h2 id="your_picksheets" style="display:inline;cursor:pointer;font-family:Verdana, Geneva, sans-serif;"><b>Your Pick sheets</b></h2>
        <div style="margin-top:15px;width:70%;"></div>
        {% if allow_new_picksheets %}
            <form action="{% url 'survivor_picksheet_create' pool.id %}" method="GET">{% csrf_token %}
                <input type="submit" value="Fill Out a Pick Sheet" /> - You have until {{ pool.entry_deadline }} to submit or make changes to your picks.
            </form>
        {% else %}
            No new pick sheets may be entered.  {% if cast %}Either the Entry Deadline has past or you have reached the max amount of entries.{% else %}<br>{% endif %}
        {% endif %}
        <table class="span-15">
            <tr class="header">
                <th style="border-bottom:1px solid black;"><b>Member</b></th>
                <th style="border-bottom:1px solid black;"><b>Pick sheet</b></th>
                <th><b>Picks</b></th>
                {% if user == pool.administrator %}
                    <th></th>
                {% endif %}
            </tr>
        {% if picksheets %}
            <div id="all-picksheets-list">
            {% for picksheet in picksheets %}
                <tr class="all-picksheets-single">
                    <td class="span-4"><a href="{% url 'profile_stats' picksheet.member.id %}">{{ picksheet.member }}</a></td>
                    <td class="span-4">
                        {% if pool.allow_new_picksheets %}
                            {{ picksheet.name }}
                        {% else %}
                            <a href="{{ picksheet.get_absolute_url }}">{{ picksheet.name }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% for pick in picksheet.four_picks.all %}
                            {{ pick.base_castaway.first_name }}
                            {% if not forloop.last %}
                             -
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% if user == pool.administrator %}
                        <td><a href="{% url 'survivor_remove_picksheet' pool.id picksheet.id %}">Remove</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </div>
            <div id="your-picksheets-list">
                {% if your_picksheets %}
                    {% for picksheet in your_picksheets %}
                        <tr class="your-picksheets-single">
                            <td class="span-4"><a href="{% url 'profile_stats' picksheet.member.id %}">{{ picksheet.member }}</a></td>
                            <td class="span-4"><a href="{{ picksheet.get_absolute_url }}">{{ picksheet.name }}</a></td>
                            <td>
                                {% for pick in picksheet.four_picks.all %}
                                    {{ pick.base_castaway.first_name }}
                                    {% if not forloop.last %}
                                     -
                                    {% endif %}
                                {% endfor %}
                            </td>
                            {% if user == pool.administrator %}
                                <td><a href="{% url 'survivor_remove_picksheet' pool.id picksheet.id %}">Remove</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="your-picksheets-single">
                        <td>You haven't created any picksheets yet.</td>
                    </tr>
                {% endif %}
            </div>
            </table>
        {% else %}
            <tr>
               <td colspan=3>No pick sheets have been submitted yet</td>
            </tr>
            </table>
        {% endif %}
{% endblock %}