{% extends "survivor/pool_home_core.html" %}
{% load survivor_tags %}
{% block body %}
        <title>Standings - {{ pool.name }} | Office Pool Hub</title>
        {% block headline %}
        <h2 style="font-family:Verdana, Geneva, sans-serif"><b>Standings</b></h2>
        {% endblock %}
            {% display_top_three %}
        <table>
            <tr class="header">
                <th><b>Member</b></th>
                <th><b>Pick Sheet</b></th>
                <th><b>Total Points</b></th>
                <th><b>Picks</b></th>
            </tr>
        {% if picksheets %}
        {% for picksheet in picksheets %}
            <tr>
                <td><a href="{% url 'profile_stats' picksheet.member.memberprofile.id %}">{{ picksheet.member }}</a></td>
                <td>{{ picksheet.name }}</td>
                <td>{{ picksheet.total_points }}</td>
                <td>
                    {% for pick in picksheet.four_picks.all %}
                        {{ pick.base_castaway.first_name }}
                        {% if not forloop.last %}
                         -
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        {% else %}
            <tr>
               <td colspan=3>No pick sheets have been submitted yet</td>
            </tr>
        {% endif %}
        </table>
{% endblock %}